@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?f29hax');
  src:  url('fonts/icomoon.eot?f29hax#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?f29hax') format('truetype'),
    url('fonts/icomoon.woff?f29hax') format('woff'),
    url('fonts/icomoon.svg?f29hax#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e900";
}
.icon-checkmark:before {
  content: "\e901";
}
.icon-at-sign:before {
  content: "\e902";
}
.icon-location:before {
  content: "\e947";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-new-tab:before {
  content: "\ea7e";
}
.icon-behance:before {
  content: "\eaa8";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-codepen:before {
  content: "\eae8";
}
