/*******************************
**********RESETS****************
*******************************/

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-size: 62.5%;
    font-size: 1.1rem;
    font-family: sans-serif;
}

li{
    list-style-type: none;
}

fieldset{
    border: none;
}
.jodit_marker{
    display: none!important;
}
/*******************************
FORMULAIRE CONNEXION BACK OFFICE
*******************************/

.login-section{
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/img/imgBack/imgFormConnexion/form-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff;
    font-family: "Open Sans", sans-serif;
}

.login-section .form-wrapper{
    width:60vw;
    height:50vh;
    background-color:#4359cf;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    background-image:url('../../assets/img/imgBack/imgFormConnexion/logoUpskalixBlanc.svg');
    background-position: center left;
    background-repeat: no-repeat;
    background-size:60%;
}

.login-section .form-wrapper .form-content{
    height: 100%;
    width:50%;
    display: flex;
    justify-content: center;
    align-items:center;
    background: linear-gradient(30deg,rgba(67, 89, 207, 0.8) 40%,#ebc07a);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: -10px 0px 30px rgba(0, 0, 0, .3);
}

.login-fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:22px;
}
.login-fieldset>label{
    color: #fff;
}
.login-input{
    padding:8px;
    border-radius: 10px;
    border:none;
    background-color:rgba(255,255,255, .2);
    border: 1px solid #fff;
    color:#fff;
    min-width: 100%;
    margin-top:14px;
}


.login-submit{
    padding:8px;
    border-radius: 10px;
    border:none;
    background-color:rgba(255,255,255, .2);
    border: 1px solid #fff;
    color:#fff;
    transition: all 0.4s ease;
    min-width: 100%;
    margin-top:40px;
}

.login-submit:hover{
    cursor:pointer;
    background-color: #fff;
    font-weight: bold;
    color:#4359cf;
}


/**********************************************************
FORMULAIRE ADMINPARTNERS
*********************************************************/
.adminPartners-Fieldset{
    display: flex;
    flex-direction: column;
}

/**********************************
PAGE ADMIN HOME
***********************************/
.admin-layout-logo{
    padding: 1em;
    background: #3794af;
    display: flex;
    align-items: center;
    min-width: 10vw;
}
.admin-main{
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    font-size: 1.1rem;
    justify-content: space-between;
}
.admin-main a{
    font-size: 0.7rem;
    text-transform: uppercase;
    text-decoration: none;
}

.admin-back-global-content{
    width: 100%;
}

.admin-back-headband{
    min-width: 100%;
    height: 12%;
    background-color:#ebc07a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-main-content{
    width: 100%;
    min-height: 80%;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
}
.admin-back-main-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin-back-main-title h1{
    font-family: 'Source Code Pro', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: lighter;
    padding: 30px;
    color: #fff;
    text-align: center;
    display: inline-block;
    margin: auto;
}
/*
.admin-back-main-title h1::before, .admin-back-main-title h1::after{
  content: '';
  height: 3px;
  background: #3794af;
  display: flex;
  margin: 10px 0;
}
*/
.admin-nav{
    display: flex;
    justify-content: center;
    background-color: #3794af;
}
.admin-nav li a{
    display: block;
}
.admin-nav ul{
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.admin-nav li{
    padding-top:20px;
    padding-bottom:20px;
    width: 100%;
    text-align: center;
    transition: all 0.4s ease;
}

.admin-nav li:hover{
    background-color: #1c5363;
    cursor: pointer;
}
.admin-nav{
    min-width: 10vw;
}
.main-nav-legend{
    font-weight: lighter;
    display: block;
    opacity: 0;
    color: #fff;
    margin-top:5px;
    padding-top: 5px;
}
.main-nav-legend::before{
    content: '[';
    color: #fff;
    margin-right: 2px;
}
.main-nav-legend::after{
    content: ']';
    color: #fff;
    margin-left: 2px;
}
.admin-home-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color:#f5f5f5;
}
.admin-home-content img{
    align-self: flex-end;
    margin-top: 10px;
    margin-right: 20px;
}
.admin-home-content h1{
    text-transform: uppercase;
    font-weight: lighter;
    text-align: center;
}

.admin-home-summary{
    min-width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.1);
    padding-top:80px;
    padding-left:80px;
    padding-right:80px;
    padding-bottom:20px;
    border-radius: 20px;
    background-color:#fff;
}

.admin-home-subtitle{
    font-family: "Open Sans", sans-serif;
    color:#3794af;
    font-weight: 500;
    margin-bottom: 40px;
    text-align: center;
}

.countUp{
    width: 200px;
    height: 200px;
    border: 3px solid #ebc07a;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.2rem;
    color:#8f8f8f;
}

.admin-home-btn{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    min-width: 20%;
    min-height: 50%;
    margin-top: 40px;
    box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.1);
    padding:80px;
    border-radius: 20px;
    background-color:#fff;
}

.admin-home-btn a{
    display: block;
    min-width: 200px;
    color: #3794AF;
    border: 1px solid #3794AF;
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
    transition: all 0.4s ease;
    font-size: 1em;
    margin-bottom: 40px;
    text-align: center;
}
.admin-home-btn a:hover{
    background: #3794af;
    color: #fff;
    font-weight: bold;
    border: none;
}

.open-nav{
    animation-name: open-subnav;
    animation-duration: 0.4s;
    animation-fill-mode: both;
}

@keyframes open-subnav{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}


/**********************************************************
FORMULAIRE ADMIN POSTS
*********************************************************/
.admin-Posts{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/**********************************
PAGE LIST PARTENAIRES
***********************************/
.list-partenaires-main, .list-post-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.list-partenaires-container, .list-post-container{
    display: flex;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    color: #8f8f8f;
}
.list-partenaires-container p, .list-post-container p{
    color: #fff;
    border-radius: 10px;
    padding: 4px 10px;
    background: #3794af;
}
.list-partenaires-main-champs, .list-post-main-champs{
    width: 70%;
}
.list-partenaires-main-champs-text, .list-post-main-champs-text{
    border: 1px solid #8f8f8f;
    width: 60%;
    height: 30px;
    border-radius: 10px;
    margin-left: 20px;
    text-align: center;
    padding: 5px;
    color: #8f8f8f;
}
.list-partenaires-main-btn, .list-post-main-btn{
    margin-left: 30px;
    display: flex;
    align-items: center;
}
.list-partenaires-main-btn a, .list-post-main-btn a {
    padding: 0 15px;
}
.list-partenaires-main-btn a:visited, .list-post-main-btn a:visited {
    color: #000;
}
.list-partenaires-main-btn-add, .list-post-main-btn-add{
    margin: auto;
    margin-top: 30px;
    text-align: center;
}
.list-post-main-btn-add a, .list-partenaires-main-btn-add a{
    display: block;
    border: 1px solid #8f8f8f;
    padding: 10px 10px 7px 10px;
    border-radius: 10px;
}
.list-post-main-btn-add a:hover, .list-partenaires-main-btn-add a:hover{
    background: #3794af;
    border: none;
    color: white;
    transition: 0.4s ease-in;
}
.add-picto{
    position: relative;
    width: 30px;
    height: 30px;
    margin: auto;
}
.add-picto::before{
    content: '';
    background-color: #8f8f8f;
    width: 30px;
    height: 3px;
    display: flex;
    position: absolute;
    top: 12.5px;
}
.add-picto::after{
    content: '';
    background-color: #8f8f8f;
    width: 30px;
    height: 3px;
    display: flex;
    position: absolute;
    transform: rotate(90deg);
    top: 12.5px;
}
.list-post-main-btn-add a:hover .add-picto::after, .list-post-main-btn-add a:hover .add-picto::before{
    background: #fff;
    transition: 0.4s ease-in;
}
.list-partenaires-main-btn-add a:hover .add-picto::after, .list-partenaires-main-btn-add a:hover .add-picto::before{
    background: #fff;
    transition: 0.4s ease-in;
}
/**********************************
FORM CREATE POST
***********************************/
.formback-section{
    display: flex;
    height: auto;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.input-create-form{
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px 5px;
    border: 1px solid #8f8f8f;
    color: #8f8f8f;
}
input[type=file]{
    width: 40%;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px 5px;
    border: 1px solid #8f8f8f;
    color: #8f8f8f;
}
.jodit_editor{
    color: #8f8f8f;
}
.jodit{
    border: 1px solid #8f8f8f;
    margin: 10px 0;
}
label {
    color: #3794af;
}
.admin-create-post-submit{
    border: 1px solid #8f8f8f;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    color: #8f8f8f;
    transition: all 0.4s ease;
    cursor: pointer;
    background: none;
}

.admin-create-post-submit:hover{
    background-color: #3794af;
    border: none;
    color: white;
}
.formback-wrapper{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.formback-wrapper>p{
    margin: 10px 0;
    color: #8f8f8f;
}
.formback-content{
    width: 70%;
}
.admin-create-post-err-message{
    text-align: center;
    color: #8f8f8f;
}
.list-post{
    display: flex;
    padding: 20px 0;
    width: 50%;
    align-items: center;
    justify-content: center;
    color: #8f8f8f;
}
.list-post p{
    color: #fff;
    border-radius: 10px;
    padding: 4px 10px;
    background: #3794af;
}
.list-rubriques-main-champs-text{
    width: 40%;
    padding: 0 5px;
}
.list-rubriques-main-champs-text a{
    width: 100%;
    display: block;
    border: 1px solid #8f8f8f;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: #8f8f8f;
    transition: all 0.4s ease;
}
.list-rubriques-main-btn{
    display: flex;
    align-items: center;
}
.list-rubriques-main-btn a{
    margin: 0 10px;
}
.list-rubriques-main-btn a:first-child{
    width: 100%;
    display: block;
    border: 1px solid #8f8f8f;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: #8f8f8f;
    transition: all 0.4s ease;
}
.list-rubriques-main-btn a:first-child:hover{
    color: white;
    background-color: #3794af;
    border: none;
}
.main-delet-btn{
    border: 1px solid #8f8f8f;
    border-radius: 10px;
    display: block;
}
/**********************************
          ADMIN USER
***********************************/
.admin-user-section{
    width: 50%;
    text-align: center;
}
.admin-user-title{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: lighter;
    margin-top: 50px;
    margin-bottom: 50px;
}
.admin-user-id{
    padding: 10px 0;
}
.admin-user-pass{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #d8d8d8;
}
.admin-user-btn-submit{
    border: 1px solid #d8d8d8;
    width: 150px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: black;
    transition: all 0.4s ease;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 20px;
}
.admin-user-btn-submit:hover{
    background-color: #3794af;
    border: none;
    color: white;
}
/**********************************
PAGE SUBSCRIBERS
***********************************/
.admin-subscribers-email-content{
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: center;
    padding: 10px 0;
}
.admin-subscribers-email-content span{
    width: 40%;
    border: 1px solid #8f8f8f;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    color: #8f8f8f;
    margin: 0 20px;
}
.admin-subscribers-email-content p{
    color: #fff;
    border-radius: 10px;
    padding: 4px 10px;
    background: #3794af;
}
