/* ************************************************** */
/*                                                    */
/*                  RESET PAGE STYLE                  */
/*                                                    */
/* ************************************************** */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-size: 1rem;
    font-family: 'Open Sans', arial, sans-serif;
}
body{
    background: #fff;
}
li{
    list-style-type: none;
}
a, a:hover, a:focus, a:active{
    text-decoration: none;
    color: inherit;
}

.lg-wrapper{
    width: 1170px;
    margin: 0 auto;
}

/* ************************************************** */
/*                                                    */
/*                       FONTS                        */
/*                                                    */
/* ************************************************** */
/*                                                    */
/*        font-family: 'Open Sans', sans-serif;       */
/*       font-family: 'Playfair Display', serif;      */
/*     font-family: 'Source Code Pro', monospace;, monospace;     */
/*                                                    */
/* ************************************************** */
/*                                                    */
/*                    ICOMOON FONT                    */
/*                                                    */
/* ************************************************** */
@font-face {
    font-family: 'icomoon';
    src:  url('../../assets/fonts/icomoon/fonts/icomoon.eot?f29hax');
    src:  url('../../assets/fonts/icomoon/fonts/icomoon.eot?f29hax#iefix') format('embedded-opentype'),
    url('../../assets/fonts/icomoon/fonts/icomoon.ttf?f29hax') format('truetype'),
    url('../../assets/fonts/icomoon/fonts/icomoon.woff?f29hax') format('woff'),
    url('../../assets/fonts/icomoon/fonts/icomoon.svg?f29hax#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
    content: "\e900";
}
.icon-checkmark:before {
    content: "\e901";
}
.icon-at-sign:before {
    content: "\e902";
}
.icon-location:before {
    content: "\e947";
}
.icon-mobile:before {
    content: "\e958";
}
.icon-new-tab:before {
    content: "\ea7e";
}
.icon-behance:before {
    content: "\eaa8";
}
.icon-linkedin2:before {
    content: "\eaca";
}
.icon-codepen:before {
    content: "\eae8";
}


/* ************************************************** */
/*                                                    */
/*                 HEADER PAGE STYLE                  */
/*                                                    */
/* ************************************************** */
.site-header{
    width: 100%;
    min-height: 632px;
    background-image: linear-gradient(52deg, rgba(40, 40, 40, .2), rgba(40, 40, 40, .8)), url('../../assets/img/imgFront/bg-header-index.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    padding: 32px 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.site-logoPicture{
    max-width: 140px;
}
.site-logo-responsive{
  display: none;
}

/* POSITIONNING HEADER ELEMENTS  */
/* ***************************** */
.site-logoNavbarLang, .site-navbar-list, .site-lang-list, .site-socialNetworks-list{
    display: flex;
    align-items: center;
}
.site-logoNavbarLang, .site-lang-list{
    justify-content: space-between;
}
.site-navbar{
    align-self: center;
}
.site-navbar-list{
    justify-content: flex-end;
}
.site-socialNetworks-list{
    justify-content: flex-start;
}

/* NAVBAR STYLE */
/* ************ */
.site-navbar-item:not(:first-of-type){
    margin-left: 15px;
}
.site-navbar-item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.site-navbar-link{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    font: 700 16px 'Source Code Pro', monospace;
    text-transform: uppercase;
    color: #fff;
    z-index: 10;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all .5s ease-in-out;
}
.site-navbar-item::before{
    content:'';
    display: block;
    position: absolute;
    top: 0;
    background-color: #ffffff;
    width: 100%;
    height: 3px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all .5s ease-in-out;
}
.site-navbar-item:hover::before, .site-navbar-item:focus::before, .site-navbar-item.active::before {
    height: 100%;
}
.site-navbar-item:hover .site-navbar-link, .site-navbar-item:focus .site-navbar-link, .site-navbar-item.active .site-navbar-link{
    color: #282828;
}

.site-sub-navbar-list{
    display: none;
    opacity: 0;

    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all .5s ease-in-out;
}
.rubrique-nav-item:hover .site-sub-navbar-list{
/*    display: flex;
    position: absolute;
    top: 100%;*/
    /*margin-top:160px;*/
/*    z-index: 10;
    right: 0;*/
    /*background-color: #ffffff;*/

    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 100%;
    z-index: 10;
    right: 29px;
    width: 100%;

    opacity: 1;
}
.site-sub-navbar-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.site-sub-navbar-item::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    background-color: #ffffff;
    width: 100%;
    height: 3px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all  .5s ease-in-out;
    -ms-transition: all  .5s ease-in-out;
    -o-transition: all  .5s ease-in-out;
    transition: all .5s ease-in-out;

}
.rubrique-nav-item:hover .site-sub-navbar-item::before{
    height: 100%;
}

/*.site-sub-navbar-list:hover{
    background-color: #ffffff;
}*/
.site-sub-navbar-link{
    position: relative;
}
.site-sub-navbar-link::after{
    /*content:'';
    display: block;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    width: 0%;
    height: 3px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all .5s ease-in-out;*/

    content: '';
    display: block;
    position: absolute;
    left: 0%;
    bottom: 0;
    background-color: #000;
    width: 0%;
    height: 3px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all .5s ease-in-out;
}
.site-sub-navbar-link:hover::after{
/*    content:'';
    display: block;
    position: absolute;
    bottom: 0;
    background-color: #000;
    width: 15%;
    height: 3px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all .5s ease-in-out;*/


    content: '';
    display: block;
    position: absolute;
    left: 0%;
    bottom: 0;
    background-color: #000;
    width: 100%;
    height: 3px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all .5s ease-in-out;
}
/* SITE LANG CHECKBOX STYLE */
/* ************************ */
.site-lang-label{
    cursor: pointer;

    font: 700 16px 'Open Sans', arial, sans-serif;
    color: #fff;
    background: rgba(255, 255, 255, 0);
    padding: 6px 8px;
    border-radius: 5px;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all .3s ease-in-out;
}
.site-lang-input{
    visibility: hidden;
    opacity: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.site-lang-input:checked + .site-lang-label, .site-lang-label:hover, .site-lang-label:focus{
    color: #282828;
    background: rgba(255, 255, 255, 1);
}
.site-lang-responsive{
  display: none;
}


/* SITE TITLES WRAPPER STYLE */
/* ************************* */
.site-titlesWrapper{
    align-self: center;

    position: relative;

    margin-bottom: 40px;
}
.site-title{
    width: 100%;
    font: 700 240px 'Open Sans', arial, sans serif;
    color: rgba(255, 255, 255, .2);
    text-transform: uppercase;
    line-height: 200px;
}
.site-title::before{
    content:'';
    display: block;
    position: absolute;
    left: 20px;
    width: 37px;
    height: 10px;
    background: #ffcc70;
}
.site-catchphrase{
    position: absolute;
    bottom: 17px;

    font: 400 45px 'Source Code Pro', monospace;
    color: #ffffff;
    z-index: 10;
}
.icon-codepen{
    font-size: 1.5rem;
}
.icon-behance{
    font-size: 1.5rem;
}
.icon-linkedin2{
    font-size: 1.5rem;
}
.site-socialNetworks-item:not(:first-of-type){
    margin-left: 20px;
}
.site-socialNetworks-list{
    z-index: 10;
}
.site-socialNetworks-item{
    cursor: pointer;
    color: #fff;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all .3s ease-in-out;
}
.site-socialNetworks-item:hover{
    color: #41d0d0;
}

/* ************************************************** */
/*                                                    */
/*             MEDIA QUERIES HEADER PAGE              */
/*                                                    */
/* ************************************************** */
@media (max-width: 1360px) {
    .site-socialNetworks-list{
        opacity: 0;
        visibility: hidden;
    }
}
@media (max-width: 1200px) {
    .site-titlesWrapper{
        width: 90%;
    }
    .site-title{
        font: 700 180px 'Open Sans', arial, sans serif;
    }
}
@media (max-width: 1000px) {
    .site-titlesWrapper{
        width: 90%;
    }
    .site-title{
        font: 700 110px 'Open Sans', arial, sans serif;
        line-height: 130px;
    }
    .site-title::before{
        left: 10px;
        width: 17px;
        height: 10px;
    }
    .site-catchphrase {
        position: absolute;
        bottom: 17px;
        font: 400 24px 'Source Code Pro', monospace;
    }
}
nav > input,
.nav-button {
  display: none; /* BOUTTON BURGER CACHÉ */
}

/* MENU BURGER */
@media (max-width: 1100px) {
  .site-logo-responsive{
    display: block;
  }
 .site-navbar-list{
   position: absolute;
   transform: translateX(-200%) translateZ(0);
   transition: transform .2s;
   will-change: transform;
   display: block;
   top: 0;
   left: 0;
   z-index: 100;
  }
  .site-navbar-item::before{
      top: 0;
      left: 0;
  }
  .site-navbar-item{
    transform: translateX(10%);
  }
  /* EFFET SLIDE */
  input:checked ~ .site-navbar-list {
    transform: translateX(-20%);
    background-image: linear-gradient(52deg, #4158d0, #ffcc70);
    width: 125vw;
    height: 100vh;
  }
  .site-lang{
    display: none;
  }
  .site-lang-responsive{
    display: flex;
  }
  .site-lang-responsive-label{
      cursor: pointer;

      font: 700 16px 'Open Sans', arial, sans-serif;
      color: #fff;
      background: rgba(255, 255, 255, 0);
      padding: 6px 8px;
      border-radius: 5px;

      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all .3s ease-in-out;
  }
  .site-lang-responsive-input{
      visibility: hidden;
      opacity: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
  }
  .site-lang-responsive-input:checked + .site-lang-responsive-label, .site-lang-responsive-label:hover, .site-lang-responsive-label:focus{
      color: #282828;
      background: rgba(255, 255, 255, 1);
  }
  .nav-button {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
    height: 2.5rem;
    width: 3.5rem;
    background-image: linear-gradient(to right, #fff, #fff),
      linear-gradient(to right, #fff, #fff),
      linear-gradient(to right, #fff, #fff);
    background-position: center top, center, center bottom;
    background-repeat: no-repeat;
    background-size: 3.5rem .5rem;
    padding: 0;
    outline: 0;
    border: 0;
    cursor: pointer;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
  }
.site-navbar-item:not(:first-of-type) {
    margin: 0;
}
}
@media (max-width: 600px) {
    .site-title{
        font: 700 70px 'Open Sans', arial, sans serif;
        line-height: 80px;
    }
    .site-title::before {
        left: 5px;
        width: 11px;
        height: 6px;
    }
    .site-catchphrase{
        bottom: 10px;
        font: 400 16px 'Source Code Pro', monospace;;
    }
}


/* ************************************************** */
/* ************************************************** */
/* ************************************************** */
/*                                                    */
/*                      NEW PAGE                      */
/*                                                    */
/* ************************************************** */
/* ************************************************** */
/* ************************************************** */
/* ************************************************** */
/*                                                    */
/*                   HOME PAGE STYLE                  */
/*                                                    */
/* ************************************************** */

/* ************************************************** */
/*                                                    */
/*                 HEADER VARIANT STYLE               */
/*                                                    */
/* ************************************************** */
.home-head.site-header{
    height: 100vh;
}
.home-head-titlesWrapper.site-titlesWrapper{
    margin-top: 120px;
}
.home-head-underCatchPhrase-wrapper{
    margin-left: 180px;
    align-self: center;
    display: flex;
    align-items: center;

    position: relative;
}
.home-head-nameAuthor{
    transform: rotate(-90deg);
    color: #fff;
    margin: 0;

    font: 700 14px 'Source Code Pro', monospace;

    animation-name: nameAuthorAnim;
    animation-duration:2s;
    animation-iteration-count: 1;
}
@keyframes nameAuthorAnim {
    from{
        position: relative;
        top: 100px;
        opacity: 0;

    }
    to{
        position: relative;
        top: 0px;
        opacity: 1;
    }
}
.home-head-specialitesActivitesList{
    position: relative;
}
.home-head-specialitesActivitesItem{
    list-style-type: none;
    background-image: linear-gradient(52deg, #4158d0, #ffcc70);
    color: #fff;

    width: fit-content;
    padding: 18px 10px 12px;

    font: 700 16px 'Source Code Pro', monospace;
    text-transform: uppercase;
    line-height: 37px;
}
.underTitleLayer{
    z-index: 10;
    display: block;

    right: 0;

    background-image: linear-gradient(52deg, rgba(40, 40, 40, .2), rgba(40, 40, 40, .8)), url(../../assets/img/imgFront/bg-header-index.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    height: 70%;
    position: absolute;
    animation-name: underTitleLayerAnim;
    animation-duration:2s;
    animation-iteration-count: 1;
}
@keyframes underTitleLayerAnim {
    from{
        width: 100%;
        right:0;
    }
    to{
        width: 0%;
        right: 0;
    }
}


/* ************************************************** */
/*                                                    */
/*               HOME CONTENT PAGE STYLE              */
/*                                                    */
/* ************************************************** */

/* ****************** */
/* ACTIVITIES SECTION */
/* ****************** */

.home-section-activities{
    position: relative;

    padding: 112px 0;

    display: grid;
    grid-template-areas: "activitiesTabs activitiesTabContent .";
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(500px, 1fr);
    grid-column-gap: 20px;
}
.home-section-activities-list{
    width: 100%;

    display: flex;

    grid-area: activitiesTabs;
    grid-column: span 3;
}
.home-section-activities-item{
    position: relative;
    width: 100%;

    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    cursor: pointer;
}
.home-section-activities-item::after{
    content: '';

    z-index: 0;
    position: absolute;
    top: 0;

    display: block;
    width: 100%;
    height: 100%;

    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);

    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;

    background-color: rgba(255, 255, 255, .6);

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.home-section-activities-item:hover::after, .home-section-activities-item:focus::after, .home-section-activities-item.active::after{
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
}

.home-section-activities-item:first-of-type{
    background-image: url(../../assets/img/imgFront/home/consulting.jpg);
}
.home-section-activities-item:nth-of-type(2){
    background-image: url(../../assets/img/imgFront/home/formation.jpg);
}
.home-section-activities-item:last-of-type{
    background-image: url(../../assets/img/imgFront/home/devInformatique.jpg);
}
.home-section-activities-btn{
    display: block;
    position: absolute;
    z-index: 10;

    top: -18px;
    right: 17px;

    padding: 0px 8px;
    width: 100%;

    font: 700 18px 'Source Code Pro', monospace;
    text-transform: uppercase;
    line-height: 36px;
    text-align: right;

    color: #fff;
    background-color: #282828;

    transform: rotate(-90deg);
    transform-origin: right;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.home-section-activities-item:hover .home-section-activities-btn, .home-section-activities-item:focus .home-section-activities-btn,.home-section-activities-btn.active{
    color: #282828;
    background-color: #fff;
}

.home-section-activitiesDescription-list{
    grid-area: activitiesTabContent;
    grid-column: span 1;
}
.home-section-activitiesDescription-item{}
.home-section-activitiesDescription-title::before, .home-section-projectsDescription-title::before{
    content: '';
    display: block;

    margin-bottom: 21px;

    width: 30px;
    height: 10px;
}
.home-section-activitiesDescription-title::before{
    background-color: #4158d0;
}
.home-section-projectsDescription-title::before{
    background-color: #ffb765;
}
.home-section-activitiesDescription-title, .home-section-projectsDescription-title{
    font: 700 43px 'Source Code Pro', monospace;
    text-transform: uppercase;
}
.home-section-activitiesDescription-text, .home-section-projectsDescription-text{
    font: 400 16px 'Open Sans', sans-serif;
}

/* **************** */
/* PROJECTS SECTION */
/* **************** */
.home-section-projects{
    position: relative;

    display: grid;
    grid-template-areas: ". projectsDescription slider" ;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(500px, 1fr);
    grid-column-gap: 20px;
}
.home-section-projectsDescription-list{
    grid-area: projectsDescription;
    grid-column: 2 / 4;
    align-self: center;
}
.home-section-projectsDescription-item{
    margin-right: 92px;
}
.home-section-projectsDescription-btn{
    margin-top: 22px;
    font: 700 12px 'Source Code Pro', monospace;
    text-decoration: underline;
    text-transform: uppercase;
}
.home-section-projects-slider{
    grid-area: slider;
    grid-column: 4 / 6;

    width: 100%;
    height: 633px;
    overflow: hidden;

    display: grid;
    grid-template-areas: "slides slides" "slides slides";
    grid-template-columns: 1fr 80px;
    grid-template-rows: 1fr 80px;
}

.home-section-projects-list{
    grid-area: slides;

    display: flex;

    width: 300%;
    padding:0;
    margin:0;
}
.home-section-projects-item{
    width: 33.7%;
    height: 633px;

    display: flex;
    justify-content: center;

    grid-area: slide;

    position: relative;

    z-index: 0;
}
.home-section-projects-item.active{
    z-index: 1;
}
.home-section-projects-pict{
    width: 100%;
    height: 100%;
}
.home-section-projects-btn{
    position: absolute;
    bottom: 0;

    padding: 32px 44px;

    color: #282828;
    background-color: #ffffff;

    font: 700 16px 'Source Code Pro', monospace;
    text-transform: uppercase;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.home-section-projects-btn:hover, .home-section-projects-btn:focus{
    color: #ffffff;
    background-image: linear-gradient(52deg, rgba(65, 88, 208, 1), rgba(255, 204, 112, 1));
}
.home-section-projects-controlsBtns{
    z-index: 10;
    grid-area: 1 / 2 / 3 / 3;
    justify-self: center;
    align-self: center;
}
.home-section-projects-controlBtnItem:not(:last-of-type){
    margin-bottom: 10px;
}
.home-section-projects-controlBtnItem{
    content: '';
    display: block;
    cursor: pointer;

    width: 10px;
    height: 10px;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border:1px solid #fff;
    background-color: rgba(255, 255, 255, .3);

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.home-section-projects-controlBtnItem:hover, .home-section-projects-controlBtnItem:focus, .home-section-projects-controlBtnItem.active{
    background-color: rgba(255, 204, 112, 1);
}









/* ************************************************** */
/* ************************************************** */
/* ************************************************** */
/*                                                    */
/*                      NEW PAGE                      */
/*                                                    */
/* ************************************************** */
/* ************************************************** */
/* ************************************************** */
/* ************************************************** */
/*                                                    */
/*                PARTNERS PAGE STYLE                 */
/*                                                    */
/* ************************************************** */

/* ************************************************** */
/*                                                    */
/*                PARTNERS GRID STYLE                 */
/*                                                    */
/* ************************************************** */
.site-main{
    margin-top: -212px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.site-main-content{
    border-radius:10px;

    background: #fff;

    padding: 45px 19px 19px;
    margin-top: 20px;

    box-shadow: 0px 0 70px 10px rgba(0, 0, 0, .2);
}
.site-main-content:not(.site-main-about){
    margin-bottom: 36px;
}
.partnersGrid{
    display: grid;
    grid-template-rows: repeat(4, 1fr) auto;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 22px;

/*    grid-template-areas:
            "boxTitle boxTitle boxTitle boxTitle boxTitle boxTitle"
            "boxPartner1 boxPartner1 boxPartner1 boxPartner2 boxPartner2 boxPartner2"
            "boxPartner3 boxPartner3  boxPartner4 boxPartner4 boxPartner5 boxPartner5"
            "boxPartner6 boxPartner6 boxPartner6 boxPartner7 boxPartner7 boxPartner7"
            "boxDescribePartner boxDescribePartner boxDescribePartner boxDescribePartner boxDescribePartner boxDescribePartner"*/

}
.partnersGrid-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    cursor: pointer;
}
.partnersGrid-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 1rem;
}
.boxPartner1{
    grid-column: span 2;
    grid-row: span 1;
}
.partnersGrid-logo{
    width: 100%;
}
.boxTitle, .boxDescribePartner{
    justify-content: flex-start;
    grid-column: span 6;
    grid-row: span 1;
}
.boxTitle{}
/*.boxPartner1{*/
    /*grid-area: boxPartner1;*/
    /*background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../../assets/img/imgFront/rubriquePartners/orange-bg.jpg');*/
/*}
.boxPartner2{
    grid-area: boxPartner2;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../../assets/img/imgFront/rubriquePartners/auCoffre-bg.jpg');
}
.boxPartner3{
    grid-area: boxPartner3;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../../assets/img/imgFront/rubriquePartners/gobelins-bg.jpg');
}
.boxPartner4{
    grid-area: boxPartner4;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../../assets/img/imgFront/rubriquePartners/opquast-bg.jpg');

}
.boxPartner5{
    grid-area: boxPartner5;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../../assets/img/imgFront/rubriquePartners/thales-avionics-bg.jpg');
}
.boxPartner6{
    grid-area: boxPartner6;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../../assets/img/imgFront/rubriquePartners/ecod-bg.jpg');
}
.boxPartner7{
    grid-area: boxPartner7;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../../assets/img/imgFront/rubriquePartners/digiAct-bg.jpg');
}*/
/*.boxDescribePartner{
    grid-area: boxDescribePartner;
    !*   background-color: #08AEEA; *!
}*/


/* ************************************************** */
/*                                                    */
/*           PARTNERS CONTENT GRID STYLE              */
/*                                                    */
/* ************************************************** */
.rubrique-title{
    font: 700 38px 'Open Sans', arial, sans-serif;
}
.rubrique-title::before, .partnersTitle::before{
    content: '';
    display: block;
    /*   background: #4158d0; */
    width: 30px;
    height: 10px;
    margin-bottom: 10px;
}
.rubrique-title.rbrq-ttl-partners::before, .rubrique-title.rbrq-ttl-type::before{
    background: #4158d0;
}
.rubrique-subtitle{
    font: 400 24px 'Playfair Display', serif;
}
.rubrique-intro{
    font: 400 16px 'Open Sans', arial, sans-serif;
}
.rubrique-intro::after{
    content: '';
    display: block;
    background: #4158d0;
    width: 30px;
    height: 10px;
    margin-top: 10px;
}
.rubrique-header.rbrq-partners-header, .rubrique-header.rbrq-type-header{
    width: 75%;
}

/* ************************************************** */
/*                                                    */
/*           MEDIA QUERIES PARTNERS PAGE              */
/*                                                    */
/* ************************************************** */
/* @media (max-width: 900px) {
  .partnersGrid{
    display: grid;
    grid-template-rows: repeat(4, 1fr) auto;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 22px;

    grid-template-areas:
      "boxTitle boxTitle boxTitle boxTitle boxTitle boxTitle"
      "boxPartner1 boxPartner1 boxPartner1 boxPartner2 boxPartner2 boxPartner2"
      "boxPartner3 boxPartner3  boxPartner4 boxPartner4 boxPartner5 boxPartner5"
      "boxPartner6 boxPartner6 boxPartner6 boxPartner7 boxPartner7 boxPartner7"
      "boxDescribePartner boxDescribePartner boxDescribePartner boxDescribePartner boxDescribePartner boxDescribePartner"
  }
} */
@media (max-width: 500px) {
    .partnersGrid{
        display: grid;
        grid-template-rows: repeat(11, 1fr);
        grid-template-columns: 1fr;
        grid-gap: 22px;
        grid-template-areas:
                "boxTitle"
                "boxTitle"
                "boxPartner1"
                "boxPartner2"
                "boxPartner3"
                "boxPartner4"
                "boxPartner5"
                "boxPartner6"
                "boxPartner7"
                "boxDescribePartner"
                "boxDescribePartner"
    }
}




/* ************************************************** */
/* ************************************************** */
/* ************************************************** */
/*                                                    */
/*                      NEW PAGE                      */
/*                                                    */
/* ************************************************** */
/* ************************************************** */
/* ************************************************** */
/* ************************************************** */
/*                                                    */
/*                A PROPOS PAGE STYLE                 */
/*                                                    */
/* ************************************************** */
/*     PRESENTATION OF THE SECTION A PROPOS     */
/*                    HEADER                    */
/* ******************************************** */
.site-main-content.site-main-about.lg-wrapper{
    z-index: 10;
}
.rbrq-about-header{}
.rubrique-header-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.rubrique-header-leftbox, .rubrique-header-rightbox{
    flex: 0 0 30%;
}
.rubrique-header-leftbox{
    text-align-last: left;
}
.rubrique-header-rightbox{
    text-align: right;
}
.rubrique-title.rbrq-ttl-monBlog{
    display: flex;
    flex-direction: column;
}
.rubrique-title.rbrq-ttl-about::before {
    background: #4158d0;
}
.rubrique-title.rbrq-ttl-monBlog::before {
    align-self: flex-end;
    background: #ffcc70;
}
.rubrique-intro.rbrq-intro-monBlog{
    display: flex;
    flex-direction: column;
}
.rubrique-intro.rbrq-intro-monBlog::after{
    align-self: flex-end;
    background: #ffcc70;
}

/* ******************** */
/* SECTION ABOUT START  */
/* ******************** */
.site-section-about, .site-section-blog{
    width: 100%;
}
.site-section-about-title, .site-section-blog-title{
    background-position: center;
    background-repeat-x: repeat;
    background-size: contain;

    display: flex;
    justify-content: center;

    width: 100%;
}
.site-section-blog-title{
    height: 278px;
}

.site-section-about-title{
    background-image: linear-gradient(52deg, rgba( 247, 247, 247, .8), rgba( 247, 247, 247, .8)), url('../../assets/img/imgFront/pattern-bg.jpg');
    margin-top: -94px;
    align-items: flex-end;
    height: 340px;
}
.site-section-blog-title{
    background-image: linear-gradient(52deg, rgba( 40, 40, 40, .8), rgba( 40, 40, 40, .8)), url('../../assets/img/imgFront/pattern-bg.jpg');
    align-items: center;
}
.site-section-about-title-wrapper, .site-section-blog-title-wrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.site-section-about-title-wrapper{
    margin-bottom: 103px;
}
.site-section-about-title-oblicLine{
    content: '';
    display: block;
    width: 25%;
    height: 1px;
    background-color: #ffffff;
    transform: rotate(-45deg);
}
.site-section-about-title-oblicLine.before-title{
    position: absolute;
    bottom: 70px;
    right: 24%;
}
.site-section-about-title-oblicLine.after-title{
    position: absolute;
    top: 70px;
    left: 18%;
}
.site-section-about-title-content{
    font: 700 26px 'Playfair Display', Times, serif;
    color: #ffffff;
}
.site-section-about-title-content::before, .site-section-about-title-content::after{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
}
.site-section-about-title-content::before{
    margin-right: 38px;
}
.site-section-about-title-content::after{
    margin-left: 38px;
}

/* WRAPPER TWO BOTH PARTS OF ABOUT CONTENT */
/* *************************************** */
.site-section-about-content{
    margin: 40px 0;
    padding-top: 90px;
    padding-bottom: 90px;
    background-image: url('../../assets/img/imgFront/aPropos/logoUpskalixBeige.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
}

/* FIRST PART ABOUT CONTENT */
/* ************************ */
.site-section-about-content-firstPart{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.site-section-about-bgWindow{
    height: 380px;
    width: 380px;
    border-radius: 50%;
    background-image: url('../../assets/img/imgFront/aPropos/sebProfileStandUp.jpeg');
    background-position: 280px center;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: contain;
    margin: 100px 0;
}
.site-section-about-description-wrapper{
    flex: 0 0 50%;
}
.site-section-about-description-author{
    font: 700 26px 'Playfair Display', Times, serif;
    color: #aa3236;
    text-align: center;
    position: relative;
}
.site-section-about-description-author::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #aa3236;
    position: absolute;
    bottom: -8px;
    left: 49.5%;
}
.site-section-about-description-author-underTitleEl{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 2px;
}
.site-section-about-description-author-underTitleEl::before, .site-section-about-description-author-underTitleEl::after{
    content: '';
    display: inline-block;
    width: 48%;
    height: 2px;
    background-color: #aa3236;
}
.site-section-about-description-text{
    font: 400 22px 'Open Sans', arial, sans-serif;
    color: #282828;
    text-align: center;
}

/* SECOND PART OF SECTION ABOUT */
/* **************************** */
.site-section-about-content-secondPart{}
.site-section-about-lifeSkills{
    background-color: #ffffff;
    box-shadow: 0 0 70px 10px rgba(0, 0, 0, .2);
    padding: 120px 100px 112px 100px;
    border-radius: 10px;

    position: relative;
}
.site-section-about-lifeSkills::before{
    content: '';
    display: block;
    position: absolute;
    top: 30%;
    right: 10%;

    width: 285px;
    height: 1px;
    background-color: #aa3236;

    transform: rotate(-45deg);
}
.site-section-about-lifeSkills::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 30%;
    left: 10%;

    width: 285px;
    height: 1px;
    background-color: #aa3236;

    transform: rotate(-45deg);
}
.site-section-about-lifeSkills-title{
    font: 700 italic 26px 'Playfair Display', Times, serif;
    color: #aa3236;
    text-align: left;
    margin-bottom: 40px;
}
.site-section-about-lifeSkills-description{
    font: 700 22px 'Open Sans', arial, sans-serif;
    line-height: 54px;
    color: #282828;
    text-align: justify;
    position: relative;
}

/* highlighted text */
.hlText{
    font-size: 26px;
    color: #ffffff;
    padding: .4rem .8rem;
    background-color: #282828;
}


/* ****************** */
/* SECTION ABOUT END  */
/* ****************** */



/* ******************* */
/* SECTION BLOG START  */
/* ******************* */
.site-section-blog-content{}
.preview-article-1-link{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preview-article-1-description-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;

    text-align: center;

    width: 50%;
    z-index: 10;
}

.preview-article-1-picture{
    width: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: blur(5px);
}
.preview-article-1-title.actuTitle{
    font: 700 46px 'Playfair Display', Times, serif;
    color: #000;
    text-align: center;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all .3s ease-in-out;
}
.labelActu, .actuTitle{
    text-transform: uppercase;
}
.actuTitle{
    text-align: right;
    width: 75%;
}
.labelActu{
    font: 400 14px 'Open Sans', arial, sans-serif;
    color: #ffffff;
    padding: 6px 10px;
}
.labelActu{
    display: inline-block;
}
.labelActu.artActu{
    background-image: linear-gradient(45deg, #fa709a, #ffcc70);
}
.labelActu.financeActu{
    background-image: linear-gradient(45deg, #08aeea, #2af598);
}
.labelActu.publiciteActu{
    background-image: linear-gradient(45deg, #21d4fd, #b721ff);
}

.labelActu-separation{
    content:'';
    display: block;

    width: 4%;
    height: 2px;

    color: #ffffff;

    margin: 25px 0;
}

.articles-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    margin-top: -42px;
    margin-bottom: 45px;
}
.articles-wrapper-firstPart{
    z-index: 10;
    flex: 0 0 48%;
}
.articles-wrapper-secondPart{
    z-index: 10;
    flex: 0 0 48%;
}
.preview-article-2-link, .preview-article-3-link, .preview-article-4-link{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.preview-article-2-picture, .preview-article-3-picture, .preview-article-4-picture{
    cursor: pointer;

    width: 100%;

    border: 8px solid rgba(255, 255, 255, 0);

    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.preview-article-2-link:hover .preview-article-2-picture, .preview-article-2-link:focus .preview-article-2-picture, .preview-article-2-link:hover .preview-article-2-description-wrapper, .preview-article-2-link:focus .preview-article-2-description-wrapper,
.preview-article-3-link:hover .preview-article-3-picture, .preview-article-3-link:focus .preview-article-3-picture, .preview-article-3-link:hover .preview-article-3-description-wrapper, .preview-article-3-link:focus .preview-article-3-description-wrapper,
.preview-article-4-link:hover .preview-article-4-picture, .preview-article-4-link:focus .preview-article-4-picture, .preview-article-4-link:hover .preview-article-4-description-wrapper, .preview-article-4-link:focus .preview-article-4-description-wrapper{
    border: 8px solid rgba(255, 255, 255, 1);
    box-shadow: 0px 0 70px 10px rgba(0, 0, 0, .2);
}

.preview-article-2-description-wrapper, .preview-article-3-description-wrapper, .preview-article-4-description-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    max-width: 94%;
    margin-top: -54px;
    padding: 7px 40px 15px 8px;

    background-color: #fff;
    border: 8px solid rgba(255, 255, 255, 0);
    box-shadow: 0px 0 30px 10px rgba(0, 0, 0, .2);

    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.articleDescription-2, .articleDescription-3, .articleDescription-4{
    margin-top: 30px;
}

/* ****************** */
/* SECTION GRID BLOG  */
/* ****************** */
.grid-articles-wrapper{
    display: grid;
    grid-template-rows: repeat(3, minmax(400px, 1fr));
    grid-auto-rows: minmax(400px, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

/* SUBSCRIBE GRID TILE */
.gaw-tileNewsletterSubscription{
    grid-column: span 1;
    grid-row: span 1;
    background-color: #f44f4f;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 80px 0 44px;
}
.gaw-form{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 50%;
}
.gaw-catchphrase{
    font: 400 24px 'Open Sans', arial, sans-serif;
    color: #fff;
    text-align: center;
}

.gaw-tileNewsletterSubscription-ctaBtn, .gaw-tileNewsletterSubscription-submitBtn{
    padding: 14px 50px;

    position: absolute;
    top: 50%;

    width: fit-content;

    background-color: rgba(255, 255, 255, 0);
    color: #fff;

    border: 1px solid #fff;
    border-radius: 25px;

    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.gaw-tileNewsletterSubscription-ctaBtn:hover, .gaw-tileNewsletterSubscription-submitBtn:hover{
    background-color: rgba(255, 255, 255, 1);
    color: #00A8EF;
}
.gaw-mailLabel{
    color: #ffffff;
}
.gaw-tileNewsletterSubscription-submitBtn{
    display: block;

    -webkit-transform: translateX(-300%);
    -moz-transform: translateX(-300%);
    -ms-transform: translateX(-300%);
    -o-transform: translateX(-300%);
    transform: translateX(-300%);

    -webkit-transform: all .3s ease-in-out;
    -moz-transform: all .3s ease-in-out;
    -ms-transform: all .3s ease-in-out;
    -o-transform: all .3s ease-in-out;
    transform: all .3s ease-in-out;
}
.gaw-tileNewsletterSubscription-submitBtn.active{
    display: block;

    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
}

.gaw-mailSubscription-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;

    width: 100%;

    opacity: 0;

    -webkit-transform: all .3s ease-in-out;
    -moz-transform: all .3s ease-in-out;
    -ms-transform: all .3s ease-in-out;
    -o-transform: all .3s ease-in-out;
    transform: all .3s ease-in-out;
}
.gaw-mailSubscription{
    border: none;
    -webkit-appearance: none;
    font: 400 12px 'Open Sans', arial, sans-serif;
    color: #fff;

    background: rgba(255, 255, 255, 0);
    border-bottom: 1px solid #fff;

    padding-bottom: 10px;
    width: 70%;
}
.gaw-mailSubscription::placeholder{
    color: #ffffff;
}
.gaw-article-1{
    grid-column: span 2;
    grid-row: span 1;

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.gaw-article-2, .gaw-article-3{
    grid-column: span 3;
    grid-row: span 1;

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.gaw-article-2:nth-of-type(2n){
    flex-direction: row-reverse;
}
.publiciteTitle{
    background-image: linear-gradient(52deg, #b721ff, #21d4fd);
}
.financeTitle{
    background-image: linear-gradient(52deg, #08aeea, #2af598);
}
.artTitle{
    background-image: linear-gradient(52deg, #fa709a, #ffcc70);
}
.gaw-article-info-wrapper{
    background-color: #f7f7f7;
    position: relative;
}
.gaw-article-info-wrapper::after, .gaw-article-info-wrapper::before{
    content: '';
    position: absolute;
    top: 50%;
    display: block;
    width: 0;
    height: 0;
}
.gaiw-1::after, .gaiw-3::after{
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
    border-left: 26px solid #f7f7f7;
    right: -26px;
}
.gaw-article-2:nth-of-type(2n+2) .gaiw-2::after{
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
    border-left: 26px solid #f7f7f7;
    right: -26px;
}
.gaiw-2:nth-of-type(n+1)::before{
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
    border-right: 26px solid #f7f7f7;
    left: -26px;
}
.gaw-article-title{
    font: 700 24px 'Open Sans', arial, sans-serif;
    color: #fff;
    text-align: left;
    padding: 20px 29px 20px 19px;
}
.gaw-article-head-subHead{
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gaw-article-content{
    padding: 0 15px 20px;
}

.gaw-pw-1{
    flex: 0 0 50%;
    max-width: 50%;
}
.gaw-pw-2, .gaw-pw-3{
    flex: 0 0 66.7%;
    max-width: 66.7%;
}
.gaw-article-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.gaw-article-btn::before, .gaw-article-btn::after{
    opacity: 0;
    visibility: hidden;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.gaw-article-btn:hover{
    filter: grayscale(80%);
    -webkit-filter: grayscale(80%);
}
.gaw-article-btn:hover::before{
    font-family: 'icomoon';
    content: '\ea7e';
    font-size: 2rem;

    color: #ffffff;

    opacity: 1;
    visibility: visible;
}
.gaw-article-btn:hover::after{
    font: 400 14px 'Open Sans', Arial, sans-serif;
    content: 'Voir l\'article';

    color: #ffffff;

    margin-top: 18px;

    opacity: 1;
    visibility: visible;
}
.gaw-btn-1{
    background-image: linear-gradient(rgba(245, 79, 79, 0), rgba(245, 79, 79, 0)), url(../../assets/img/imgFront/blog/ny-best-wall-street-deluge.jpg);
}
/*.gaw-btn-1:hover{
    background-image: linear-gradient(rgba(245, 79, 79, .6), rgba(245, 79, 79, .6)), url(../../assets/img/imgFront/blog/ny-best-wall-street-deluge.jpg);
}*/
.gaw-btn-2{
    background-image: linear-gradient(rgba(245, 79, 79, 0), rgba(245, 79, 79, 0)), url(../../assets/img/imgFront/blog/illustrateur-jan-siemen.jpg);
}
/*.gaw-btn-2:hover{
    background-image: linear-gradient(rgba(245, 79, 79, .6), rgba(245, 79, 79, .6)), url(../../assets/img/imgFront/blog/illustrateur-jan-siemen.jpg);
}*/
.gaw-btn-3{
    background-image: linear-gradient(rgba(245, 79, 79, 0), rgba(245, 79, 79, 0)), url(../../assets/img/imgFront/blog/gyro-voeux-winner-home.jpg);
}
/*.gaw-btn-3:hover{
    background-image: linear-gradient(rgba(245, 79, 79, .6), rgba(245, 79, 79, .6)), url(../../assets/img/imgFront/blog/gyro-voeux-winner-home.jpg);
}*/

/* ROW REDIRECTION TO MAA BLOG */
/* *************************** */
.site-section-blog-redirection{
    background-image: linear-gradient(52deg, rgba(65, 88, 208, .5) , rgba(255, 204, 112, .8)), url(../../assets/img/imgFront/pattern-bg.jpg);
    background-position: center;
    -webkit-background-size: contain;
    background-size: contain;

    display: flex;
    justify-content: center;
    align-items: center;

    max-height: 485px;
}
.site-section-blog-redirection-link{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 180px;
    width: 100%;

    color: #ffffff;
    font: 700 italic 76px 'Playfair Display', serif;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.site-section-blog-redirection-link::before, .site-section-blog-redirection-link::after{
    position: absolute;
    content: '';
    display: block;
    width: 12%;
    height: 2px;

    background-color: #ffffff;
    transform: rotate(-45deg);
    opacity: 1;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.site-section-blog-redirection-link::before{
    bottom: 22%;
    left: 38%;
}
.site-section-blog-redirection-link::after{
    top: 26%;
    right: 37%;
}
.site-section-blog-redirection:hover{
    color: #ffffff;
}
.site-section-blog-redirection-link:hover::before{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    width: 30%;
    left: 35%;
}
.site-section-blog-redirection-link:hover::after{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    width: 30%;
    right: 35%;
}




/* ***************** */
/* SECTION BLOG END  */
/* ***************** */






/* ************************************************** */
/* ************************************************** */
/* ************************************************** */
/*                                                    */
/*                      NEW PAGE                      */
/*                                                    */
/* ************************************************** */
/* ************************************************** */
/* ************************************************** */
/* ************************************************** */
/*                                                    */
/*                 CONTACT PAGE STYLE                 */
/*                                                    */
/* ************************************************** */
.site-main.rbq-m-contact{
    position: relative;
}
.rubrique-header.rbrq-contact-header, .contact-infos{
    width: 27%;
}
.rubrique-title.rbrq-ttl-contact::before, .contact-infos-title::after{
    background: #eaeaea;
}
.rbrq-intro-contact.rubrique-intro::after{
    display: none;
}

/* INFOS PART STYLE */
/* **************** */
.contact-infos{
    margin: 25px 0 45px;
}
.contact-infos-title::after{
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
}
.contact-infos-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
.contact-infos-item::before{
    font-family: icomoon;
    font-size: 2.5rem;

    display: block;

    margin: 0 2rem;
}
.contact-infos-item:first-of-type::before{
    content: '\e947';

}
.contact-infos-item:nth-of-type(2)::before{
    content: '\e958';

}
.contact-infos-item:last-of-type::before{
    content: '\e902';

}
.contact-infos-item:not(:last-of-type){
    margin-bottom: 10px;
}

.contact-infos-adress-list{}
.contact-infos-adress-item{}

.contact-infos-phone-list{}
.contact-infos-phone-item{}

.contact-infos-web-list{}
.contact-infos-web-item{}

.ctc-txt-underline::after{
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background: #282828;
    transform: scaleX(1);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all .3s ease-in-out;
}
.ctc-txt-underline:hover::after{
    content: '';
    display: block;
    height: 2px;
    transform: scaleX(0);
    background: #282828;
}

/* FORM PART STYLE */
/* *************** */
.contact-infos-title.form-section-title{
    width: 50%;
}
.form-section-wrapper{}

.form-section-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.form-section-item{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.form-section-item.submitRow{
    justify-content: flex-end;
}
.form-section-item-submitList{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    width: 100%;
}

/* WIDTH FORM ITEMS */
.hW{
    flex: 0 0 45%;
    max-width: 45%;
}
.fW{
    flex: 0 0 100%;
    max-width: 100%;
}

/* INIT INPUT + TEXTAREA */
.lastNameArea, .firstNameArea, .mailArea, .phoneNumberArea, .messageArea{
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* WIDTH INPUT AREAS */
.lastNameArea, .firstNameArea, .mailArea, .phoneNumberArea{
    flex: 0 0 75%;
    max-width: 75%;
}
.messageArea{
    flex: 0 0 88%;
}
/* STYLE INPUT + TEXTAREA */
.lastNameArea, .firstNameArea, .mailArea, .phoneNumberArea, .messageArea{
    font: 700 12px 'Open Sans', arial, sans-serif;
    color: #282828;

    background: #fff;

    border: none;
    border-bottom: 1px solid #c4c4c4;

    padding-bottom: 20px;
}
.lastNameArea{}
.firstNameArea{}
.mailArea{}
.phoneNumberArea{}

/* STYLE LABELS */
.lastNameLabel, .firstNameLabel, .mailLabel, .phoneNumberLabel, .messageLabel{
    font: 700 16px 'Open Sans', arial, sans-serif;
    text-transform: uppercase;
    color: #282828;
}

/* STYLE OTHER ELEMENTS */
.submitConfirmationLegend{
    font: 400 16px 'Open Sans', arial, sans-serif;
    color: #00c4c4;
}
.submitConfirmationLegend::before{
    display: block;
    content: '✔';
    color: #00c4c4;
    margin-right: 18px;
}
.requiredInputLegend{}
.form-section-submitBtn{
    padding: 10px 34px;

    border: 1px solid #00c4c4;
    border-radius: 25px;

    color: #00c4c4;
    background: #fff;

    font: 400 16px 'Open Sans', arial, sans-serif;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all .3s ease-in-out;
}
.form-section-submitBtn:hover{
    color: #ffffff;
    background: #00c4c4;
}

/* ASIDE MAP */
.contact-aside{
    position: absolute;
    right: 0;
    top: 8%;
    width: 60%;
    height: 38%;
}

.contact-aside-map{
    display: block;

    height: 100%;

    border-radius: 25px 0 0 25px;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, .2);

    z-index: 100;
}
.contact-aside-map-iframe{
    width: 100%;
    height: 100%;
    border-radius: 25px 0 0 25px;
}

/* ************************************************** */
/*                                                    */
/*            MEDIA QUERIES CONTACT PAGE              */
/*                                                    */
/* ************************************************** */
@media (max-width: 900px) {
    .contact-infos-item::before{
        display: none;
    }
}
@media (max-width: 700px) {
    .rubrique-main.rbq-m-contact {
        position: relative;
        display: flex;
    }
    .rubrique-main-content.rbq-m-content {
        order: 1;
        border-radius: 10px;
        padding: 45px 19px 19px;
        background: #fff;
        width: 978px;
        margin: 2rem;
    }
    .contact-aside {
        position: relative;
        margin-top: 36px;
        width: 90%;
        order: 0;
    }
    .contact-aside-map{
        border-radius: 25px;
        min-height: 250px;
    }
    .contact-infos-item::before{
        display: block;
    }
    .rubrique-header.rbrq-contact-header, .contact-infos, .contact-infos-title.form-section-title{
        width: 100%;
    }
    .hW{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .messageArea {
        flex: 0 0 75%;
    }
    .form-section-item-submitList{
        justify-content: flex-end;
    }
}
@media (max-width: 500px) {
    .lastNameLabel, .firstNameLabel, .mailLabel, .phoneNumberLabel, .messageLabel{
        width: 100%;
    }
    .lastNameArea, .firstNameArea, .mailArea, .phoneNumberArea, .messageArea {
        flex: 0 0 100%;
        max-width: 100%;
    }

}

/* ************************************************** */
/* ************************************************** */
/* ************************************************** */
/*                                                    */
/*                      NEW PAGE                      */
/*                                                    */
/* ************************************************** */
/* ************************************************** */
/* ************************************************** */
/* ************************************************** */
/*                                                    */
/*                RUBRIQUE PAGE STYLE                 */
/*                                                    */
/* ************************************************** */
.rubrique-articles-wrapper{
    margin-top: 1rem;
}
.raw-article-1, .raw-article-2, .raw-article-3{
    display: flex;
}

.raw-article-1:nth-of-type(2n){
    flex-direction: row-reverse;
}

.raw-article-pict-wrapper{
    flex: 0 0 25%;
    max-width: 25%;
}
.raw-article-btn{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.raw-btn-1{
    background-image: linear-gradient(rgba(245, 79, 79, 0), rgba(245, 79, 79, 0)), url(../../assets/img/imgFront/blog/ny-best-wall-street-deluge.jpg);
}
.raw-btn-1:hover{
    background-image: linear-gradient(rgba(245, 79, 79, .6), rgba(245, 79, 79, .6)), url(../../assets/img/imgFront/blog/ny-best-wall-street-deluge.jpg);
}
.raw-btn-2{
    background-image: linear-gradient(rgba(245, 79, 79, 0), rgba(245, 79, 79, 0)), url(../../assets/img/imgFront/blog/illustrateur-jan-siemen.jpg);
}
.raw-btn-2:hover{
    background-image: linear-gradient(rgba(245, 79, 79, .6), rgba(245, 79, 79, .6)), url(../../assets/img/imgFront/blog/illustrateur-jan-siemen.jpg);
}
.raw-btn-3{
    background-image: linear-gradient(rgba(245, 79, 79, 0), rgba(245, 79, 79, 0)), url(../../assets/img/imgFront/blog/gyro-voeux-winner-home-848x412.jpg);
}
.raw-btn-3:hover{
    background-image: linear-gradient(rgba(245, 79, 79, .6), rgba(245, 79, 79, .6)), url(../../assets/img/imgFront/blog/gyro-voeux-winner-home-848x412.jpg);
}
.raw-article-btn:hover::before {
    font-family: 'icomoon';
    content: '\ea7e';
    font-size: 2rem;
    color: #ffffff;
    opacity: 1;
    visibility: visible;
}

.raw-article-info-wrapper {
    background-color: #f7f7f7;
    position: relative;
}
.raw-article-info-wrapper::after, .raw-article-info-wrapper::before {
    content: '';
    position: absolute;
    top: 40%;
    display: block;
    width: 0;
    height: 0;
}
.raiw-1::after, .raiw-3::after {
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
    border-left: 26px solid #f7f7f7;
    right: -26px;
}
.raiw-2::before {
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
    border-right: 26px solid #f7f7f7;
    left: -26px;
}
.raw-article-title {
    font: 700 24px 'Open Sans', arial, sans-serif;
    color: #fff;
    text-align: left;

    padding: 20px 29px 20px 19px;
}

.raw-article-head-subHead {
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.raw-article-content {
    padding: 0 15px 20px;
}

/* ************************************************** */
/* ************************************************** */
/* ************************************************** */
/*                                                    */
/*                      NEW PAGE                      */
/*                                                    */
/* ************************************************** */
/* ************************************************** */
/* ************************************************** */
/* ************************************************** */
/*                                                    */
/*               ARTICLE VIEW PAGE STYLE              */
/*                                                    */
/* ************************************************** */
.site-main-content.smc-articleView{
    padding: 0;
}
.av-content, .av-oaw{
    padding: 19px 19px 36px;
}
.av-oaw{
    margin-top: 0;
}
.av-header{
    background-image: linear-gradient(52deg, rgba(183, 33, 255, .6), rgba(33, 212, 253, .6)) , url(../../assets/img/imgFront/blog/illustrateur-jan-siemen.jpg);
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 10px 10px 0 0;
    border: 4px solid #ffffff;

    padding: 80px 0;
}
.av-header-title, .av-header-subHead {
    color: #ffffff;
    text-align: center;
    padding: 20px 30px;
}
.av-header-title{
    font: 700 24px 'Open Sans', arial, sans-serif;
}
.av-header-subHead{
    font: 100 16px 'Open Sans', arial, sans-serif;
}
.av-header-subHead::before{
    content: '';
    display: block;
    width: 15%;
    height: 1px;
    background-color: #ffffff;
    margin: 0 auto 34px;
}
.av-content{
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;

    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;

    text-align: justify;
}
.av-oaw-title{
    padding: 1rem 2rem;
    margin: 0 auto 1rem;

    width: fit-content;

    color: #282828;
    background-color: rgba(40, 40, 40, 0);

    border: 1px solid;
}

.av-oap{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.preview-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 33%;
}
.preview-article-link{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview-article-picture {
    cursor: pointer;
    width: 100%;
    border: 8px solid rgba(255, 255, 255, 0);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.preview-article-description-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 94%;
    margin-top: -54px;
    padding: 7px 40px 15px 8px;
    background-color: #fff;
    border: 8px solid rgba(255, 255, 255, 0);
    box-shadow: 0px 0 30px 10px rgba(0, 0, 0, .2);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.articleDescription{
    margin-top: 30px;
}

.preview-article-link:hover .preview-article-picture, .preview-article-link:focus .preview-article-picture, .preview-article-link:hover .preview-article-description-wrapper, .preview-article-2-link:focus .preview-article-description-wrapper{
    border: 8px solid rgba(255, 255, 255, 1);
    box-shadow: 0px 0 70px 10px rgba(0, 0, 0, .2);
}
/* ************************************************** */
/*                                                    */
/*                 FOOTER PAGE STYLE                  */
/*                                                    */
/* ************************************************** */
.site-footer{
    background: #282828;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr) 50px;
    grid-template-columns: 1fr 150px 670px 2fr;
    grid-column-gap: 22px;

    grid-template-areas:
            ". logo nav map "
            ". infoContact newsletterForm map "
            "legalsMentions legalsMentions legalsMentions legalsMentions "
}
/* LOGO */
.site-footer-logo{
    grid-area: logo;
}

/* NAVBAR */
.site-footer-navbar{
    grid-area: nav;
    justify-self: flex-end;
    width: 100%;
}
.site-footer-navbar-list{
    margin-left: 80px;
}
.site-footer-navbar-link{
    font: 700 12px 'Open Sans', arial, sans-serif;
    text-transform: capitalize;

    padding-bottom: .5rem;
}
.site-footer-navbar-item::after{
    content:'';
    display: block;

    cursor: pointer;

    margin-top: .5rem;

    width: 100%;
    height: 2px;

    background-color: #ffffff;

    transform: scaleX(0);


    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all .5s ease-in-out;
}
.site-footer-navbar-item:hover::after, .site-footer-navbar-item:focus::after, .site-footer-navbar-item.active::after{
    transform: scaleX(1);
}

.site-footer-navbar-item, .site-footer-ctc-list, .site-footer-newsLetterForm-label{
    color: #ffffff;
}
.site-footer-navbar-list, .site-footer-ctc-socialNetworks-list{
    display: flex;
    justify-content: space-between;
}
.site-footer-logo, .site-footer-navbar, .site-footer-ctc-list, .site-footer-newsLetterForm{
    align-self: center;
}

/* CONTACT INFOS */
.site-footer-ctc-list{
    grid-area: infoContact;
}
.site-footer-ctc-item{
    font: 400 12px 'Open Sans', arial, sans-serif;
    margin-bottom: 20px;
}

/* NEWSLETTER FORM */
.site-footer-newsLetterForm{
    grid-area: newsletterForm;
    justify-self: flex-end;
}
.site-footer-newsLetterForm-label{
    display: block;

    font: 700 12px 'Open Sans', arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: .1rem;

    margin-bottom: 30px;
}
.site-footer-newsLetterForm-input{
    width: 300px;
    height: 40px;

    background: #f5f5f5;
    color: #8e8e8e;

    font: 400 12px 'Open Sans', arial, sans-serif;

    padding-left: 32px;

    border: none;

    -webkit-appearance: none;
    -moz-appearance: none;
}
.site-footer-newsLetterForm-submitBtn{
    align-self: flex-end;
    border:none;
    cursor:pointer;
}
.site-footer-newsLetterForm-submitBtn{
    margin-left: 22px;

    padding: 15px 46px;

    background: #ffffff;

    color: #000000;
    font: 400 12px 'Open Sans', arial, sans-serif;


    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all .5s ease-in-out;
}
.site-footer-newsLetterForm-submitBtn:hover, .site-footer-newsLetterForm-submitBtn:focus, .site-footer-newsLetterForm-submitBtn:active {
    color: #fff;
    background: #00c4c4;
}


/* ************************************************** */
/*                                                    */
/*            POP IN NEWSLETTER                       */
/*                                                    */
/* ************************************************** */

.newsletter-poppin{
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    z-index: 100;
    background-image : linear-gradient(rgba(40,40,40,0.4),rgba(40,40,40,0.4));
    color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-poppin-content{
    max-width:50vw;
    padding-top:10vh;
    padding-bottom:10vh;
    padding-left:10vh;
    padding-right:10vh;
    background-color:#fff;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 20px rgba(40,40,40,0.6);
}

.close-poppin-newsletter{
    margin-left: auto;
    margin-right:auto;
    margin-top:20px;
    display: block;
    border:none;
    text-align: center;
    max-width: 20%;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
    background-color: #00c4c4;
    color:#fff;
    transition: all 0.4s ease;

}

.close-poppin-newsletter:hover{
    background-color: #E7E7E7;
    color:#00c4c4;
}


.site-footer-newsLetterForm-submitBtn{
    border:none;
    cursor:pointer;
}

/* MAP */
.site-footer-map{
    grid-area: map;

    display: flex;
    justify-content: center;
    align-items: center;
}
.site-footer-map-picture{
    width: 100%;
    height: 100%;
}

/* LEGALS MENTIONS BLOC */
.site-footer-legalsMentions{
    grid-area: legalsMentions;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #ffffff;
    color: #00c4c4;
    border-top: 4px solid #00c4c4;
}
.site-footer-legalsMentions-link{
    font: 700 14px 'Open Sans', arial, sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
    margin-right: 10px;
}
.site-footer-legalsMentions-authors{
    font: 400 14px 'Open Sans', arial, sans-serif;
}


/* ************************************************** */
/*                                                    */
/*         MEDIA SITE MAIN CONTENT WRAPPER            */
/*                                                    */
/* ************************************************** */
@media (max-width: 1170px){
    .site-main-content{
        width: 100%;
    }
}

/* ************************************************** */
/*                                                    */
/*             MEDIA QUERIES FOOTER PAGE              */
/*                                                    */
/* ************************************************** */
@media (max-width: 1500px) {
    .site-footer{
        display: grid;
        grid-template-rows: repeat(2, 1fr) 50px;
        grid-template-columns: 150px 670px 1fr;
        grid-column-gap: 22px;

        grid-template-areas:
                "logo nav map "
                "infoContact newsletterForm map "
                "legalsMentions legalsMentions legalsMentions "
    }
}
@media (max-width: 1200px) {
    .site-footer{
        display: grid;
        grid-template-rows: repeat(2, .25fr) 1fr .25fr;
        grid-template-columns: 1fr 3fr;
        grid-column-gap: 22px;

        justify-items: center;

        grid-template-areas:
                "logo nav"
                "infoContact newsletterForm"
                "map map"
                "legalsMentions legalsMentions"
    }
    .site-footer-navbar-list{
        margin-left: 0;
    }
    .site-footer-newsLetterForm{
        justify-self:auto;
    }
    .site-footer-navbar-list{
        justify-content: space-around;
    }
    .site-footer-ctc-socialNetworks-list{
        justify-content: space-between;
    }
}
@media (max-width: 650px) {
    .site-footer{
        display: grid;
        grid-template-rows: repeat(4, 1fr) 3fr 1fr;
        grid-template-columns: 1fr;
        grid-row-gap: 22px;

        justify-items: center;

        grid-template-areas:
                "logo"
                "nav"
                "newsletterForm"
                "infoContact"
                "map"
                "legalsMentions"
    }
    .site-footer-newsLetterForm-label{
        margin-bottom: 10px;
    }
    .site-footer-ctc-list {
        display: flex;
        justify-content: space-around;
        align-items: center;

        width: 100%;
    }
    .site-footer-ctc-item{
        flex: 0 0 18%;
    }
    .site-footer-ctc-socialNetworks-list{
        justify-content: space-between;
    }
}

@media (max-width: 400px) {
    .site-footer{
        grid-template-rows: repeat(4, 150px) 1fr 150px;
    }
    .site-footer-newsLetterForm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .site-footer-ctc-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }
    .site-footer-ctc-item {
        flex: 0 0 60%;
    }
    .site-footer-newsLetterForm-submitBtn{
        align-self: flex-end;
        border:none;
    }
    .site-footer-legalsMentions {
        flex-wrap: wrap;
        text-align: center;
    }
}

