/*******************************
**********RESETS****************
*******************************/

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-size: 62.5%;
    font-size: 1.1rem;
    font-family: sans-serif;
}

li{
    list-style-type: none;
}

fieldset{
    border: none;
}

/*******************************
FORMULAIRE CONNEXION BACK OFFICE
*******************************/

.login-section{
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/img/imgFormConnexion/form-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff;
    font-family: "Open Sans", sans-serif;
}

.login-section .form-wrapper{
    width:60vw;
    height:50vh;
    background-color:#4359cf;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    background-image:url('../../assets/img/imgFormConnexion/logoUpskalixBlanc.svg');
    background-position: center left;
    background-repeat: no-repeat;
    background-size:60%;
}

.login-section .form-wrapper .form-content{
    height: 100%;
    width:50%;
    display: flex;
    justify-content: center;
    align-items:center;
    background: linear-gradient(30deg,rgba(67, 89, 207, 0.8) 40%,#ebc07a);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: -10px 0px 30px rgba(0, 0, 0, .3);
}

.login-fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:22px;
}

.login-input{
    padding:8px;
    border-radius: 20px;
    border:none;
    background-color:rgba(255,255,255, .2);
    border: 1px solid #fff;
    color:#fff;
    min-width: 100%;
    margin-top:14px;
}


.login-submit{
    padding:8px;
    border-radius: 20px;
    border:none;
    background-color:rgba(255,255,255, .2);
    border: 1px solid #fff;
    color:#fff;
    transition: all 0.4s ease;
    min-width: 100%;
    margin-top:40px;
}

.login-submit:hover{
    cursor:pointer;
    background-color: #fff;
    font-weight: bold;
    color:#4359cf;
}


/**********************************************************
FORMULAIRE ADMINPARTNERS
*********************************************************/
.adminPartners-Fieldset{
  display: flex;
  flex-direction: column;
}

/**********************************
PAGE ADMIN HOME
***********************************/

.admin-main{
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    background: url("../../assets/img/imgBackEndHome/bg-Home-Back.svg");
    background-size: cover;
    font-size: 1.1rem;
}
.admin-main a{
    font-size: 0.7rem;
    text-transform: uppercase;
    text-decoration: none;
}

.admin-nav{
    display: flex;
    justify-content: center;
}
.admin-nav ul{
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.admin-nav li{
    padding-top:20px;
    padding-bottom:20px;
    width: 100%;
   text-align: center;
   transition: all 0.4s ease;
}


.admin-nav li:hover{
    background-color: #4359cf;
}


.admin-nav, .admin-subnav{
    min-width: 6vw;
}

.admin-subnav{
    background: url("../../assets/img/imgBackEndHome/fond-opaque.svg");
    background-size:cover;
}


.admin-subnav ul{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1vw;
    opacity: 0;
    transform: translateX(0);
    transition: all  ease-in-out;
}

.admin-subnav a{
    color: #000;
    padding-top: 1px;

}
.admin-subnav a:hover{
    border-top: 2px solid #fff;

}

.admin-home-content{
    background: url("../../assets/img/imgBackEndHome/fond-opaque.svg");
    background-size:cover;
    min-width: 87.3vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10vh;
    background-size: cover;


}
.admin-home-content img{
    align-self: flex-end;
    margin-top: 10px;
    margin-right: 20px;
}
.admin-home-content h1{
    margin-bottom: 60vh;
    text-transform: uppercase;
    font-weight: lighter;
    text-align: center;
}

.admin-home-btn, .admin-home-content img, .admin-home-content h1{
    margin-left: -12vw;
}

.admin-home-btn{
    min-width: 20%;
}

.admin-home-btn a{
    color: #000;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.4s ease;
}
.admin-home-btn a:hover{
    background: #fff;
    color: #4359cf;
    font-weight: bold;
}
.admin-home-btn a:nth-child(2){
    margin-left: 20px;
}
.open-nav{
    animation-name: open-subnav;
    animation-duration: 0.4s;
    animation-fill-mode: both;
}

@keyframes open-subnav{
    from{
        transform : translateX(0%);
        opacity:0;
    }

    to{
        transform : translateX(10%);
        opacity: 1;
    }
}


