<main class="list-post-main">
    <?php
    if (isset($_GET['bol'])) {
        $id = $_GET['id'];
        $radio = new \app\controllers\Post();
        $radio->bol($_GET['bol'], $id);

    }
    // ???
    $rub=$_GET['rub'];
    $showAllPosts = new app\controllers\Post();
    $res = $showAllPosts->getAllPosts($rub);
    $countArticle=1;
    ?>

    <div class='list-post-main-title-logo'>
    </div>

    <div class="list-post-main-champs">
        <?php  foreach($res as $elem){
            // Check for onoff and switch it
            if ($elem->onoff==0) {
                $newState = '1';
                $imgBtn = 'off';
            } else {
                $newState = '0';
                $imgBtn = 'on';
            }
        ?>
        <?php
        ?>
            <div class="list-post-container">
                <p><?php echo  $countArticle++?></p> <a class="list-post-main-champs-text"href='?p=adminCreatePost&mode=1&id=<?php echo $elem->id ?> '> <?php echo $elem->titre ?></a>


                <div class="list-post-main-btn">
                    <?php
                    echo "
                       <a href='?p=adminCreatePost&mode=1&id=$elem->id 'title='modifier'><img src='../assets/img/imgBack/imgListPartenaires/edit.svg' width='30px' height='30px'></a>

                       <a href='?p=adminCreatePost&mode=2&id=$elem->id' title='supprimer'><img class='main-delet-btn' src='../assets/img/imgBack/imgListPartenaires/moins.svg' width='30px' height='30px'></a>
                       <a href='?p=adminPosts&rub=$rub&id=$elem->id&bol=".$newState."' title='on/off'><img src='../assets/img/imgBack/imgListPartenaires/".$imgBtn.".svg' height='30px'></a>";
                    ?>
                </div>
            </div>
        <?php } ?>
    </div>
    <div class="list-post-main-btn-add">
        <?php
        echo "<a href='?p=adminCreatePost&rub=$rub' title='nouvel article'><div class='add-picto'></div></a>";
        ?>
    </div>
</main>
