<section class="admin-Posts">
    <?php

   $showAllRubriques = new app\controllers\Rubriques();
   $res = $showAllRubriques->getAllRubriques();
   $countArticle=1;

  foreach($res as $key => $elem){
      echo "<div class=' list-post '> <p>". $countArticle++ ."</p> <div class='list-rubriques-main-champs-text'><a href=' '> Rubrique :  $elem->r_nom</a></div><div class='list-rubriques-main-btn'><a href=' ?p=adminPosts&rub=$elem->r_id'>  Voir les articles  </a>
      <a href=' ?p=adminCreateRubriques&mode=1&id=$elem->r_id' title='modifier'><img src='../assets/img/imgBack/imgListPartenaires/edit.svg' width='30px' height='30px'></a>
      <a href='?p=adminCreateRubriques&mode=2&id=$elem->r_id'title='supprimer'><img class='main-delet-btn'src='../assets/img/imgBack/imgListPartenaires/moins.svg' width='30px' height='30px'></a>
      </div>
      </div> ";
  }

  ?>
  <div class="list-partenaires-main-btn-add">

      <a href="?p=adminCreateRubriques"><div class="add-picto"></div></a>

  </div>

    
</section>
