<?php
$reportRub = new app\controllers\Rubriques();
$res = $reportRub->getAllRubriques();

$reportArt = new app\controllers\post();
$resArt = $reportArt->countAllPosts();

$reportContacts = new app\controllers\subscribers();
$resContacts = $reportContacts->getSubscribers();

?>
<div class="admin-home-content">
    <div class="admin-home-summary">
        <h2 class="admin-home-subtitle">Reporting de votre activité</h2>
        <span class="countUp"><p><?php echo count($res)  ?><br><br>Rubriques</p></span>
        <span class="countUp"><p><?php echo count($resArt)  ?><br><br>Articles</p></span>
        <span class="countUp"><p><?php echo count($resContacts)  ?><br><br>Contacts</p></span>
    </div>
    <div class="admin-home-btn">
        <h2 class="admin-home-subtitle">Que voulez-vous <br> faire aujourd'hui ?</h2>
        <a href='?p=adminRubriques'>Nouvelle rubriques</a>
        <a href='?p=adminPartners'>Nouveau partenaire</a>
        <a href="?p=adminUser">Mon compte</a>
        <a href='?p=adminSubscribers'>Vos derniers contacts</a>
    </div>


</div>
