<?php


// MODIFICATION D'UN PARTENAIRE
if(!empty($_GET['mode']) && $_GET['mode'] == 1 ) {
    $id = $_GET['id'];
    $showAllPartners = new app\controllers\partners();
    $res = $showAllPartners->showPartners($id);


    $nom = $res[0]->nom;
    $logo = $res[0]->logo;
    $image = $res[0]->image;
    $description = $res[0]->description;


    echo "<section class='formback-section'>";
    echo "<div class='formback-wrapper'>";
    echo "<form class='formback-content' action=' ' method='POST' enctype='multipart/form-data'>";
    echo "<input type='hidden' name='p' value='post' /> ";
    echo "<label for='nom'> Nom </label><br>";
    echo "<input class='input-create-form' type='text' placeholder='veuillez saisir un nom' name='nom' value='$nom'><br>";

    echo "<label for='logo'> Logo </label><br>";
    if (!empty($logo)) {
        echo "<input type='text' name='logo' value=' $logo ' /><br>";
    } else {
        echo "<input type='file' name='logo' /><br>";
    }

    echo "<label for='image'> Image de Fond </label><br>";
    if (!empty($image)) {
        echo "<input type='text' name='image' value=' $image ' /><br>";
    } else {
        echo "<input type='file' name='image' /><br>";
    }
    echo "<label for='description'> DESCRIPTION </label><br>";
    echo "<input id='editor' type='text' name='description' value='$description'>";

    ?>
    <script>
        $( document ).ready(function() {
            var editor = new Jodit('#editor');
            editor.setEditorValue();
        });
    </script>
    <?php
    echo " <input class='admin-create-post-submit' type='submit' value='Enregistrer'><br>";
    echo "</form>";
    echo "</div>";
    echo "</section>";


    if (isset($_POST['nom'])) {

        $nom = $_POST['nom'];
        if (!empty($_POST['logo'])) {
            $logo = $_POST['logo'];
        } else {
            $logo = $_FILES['logo']['name'];
        }
        if (!empty($_POST['image'])) {
            $image = $_POST['image'];
        } else {
            $image = $_FILES['image']['name'];
        }

        $description = $_POST['description'];
        $id = $_GET['id'];
        $newPartners = new app\controllers\Partners();
        $newPartners->updatePartners($nom, $logo, $image, $description, $id);

        header('Location: ?p=adminCreatePartners&mode=1&id=' . $id);
        /*header('Location: ?p=adminPartners');*/
        exit();

    } else {
        // Nothing to do here
    }

// SUPPRESSION D'UN PARTENAIRE
}elseif (!empty($_GET['mode']) && $_GET['mode'] == 2){
    $id = $_GET['id'];
    $backModel = new \app\controllers\Partners();
    $backModel->deletePartners($id);

    header('Location: ?p=adminPartners');
    exit();

    }else{

    // AJOUT D'UN PARTENAIRE
    echo "<section class='formback-section'>";
    echo "<div class='formback-wrapper'>";
    echo "<form class='formback-content' action=' ' method='POST' enctype='multipart/form-data'>";
    echo "<input type='hidden' name='p' value='post' /> ";
    echo "<label for='nom'> Nom </label><br>";
    echo "<input class='input-create-form' type='text'placeholder='veuillez saisir un nom' name='nom'><br>";
    echo "<label for='logo'> Logo </label><br>";
    echo "<input type='file' name='logo'><br>";
    echo "<label for='image'> Image de Fond </label><br>";
    echo "<input type='file' name='image' ><br>";
    echo "<label for='description'> DESCRIPTION </label><br>";
    echo "<input id='editor' type='text' name='description'>";

    ?>
    <script>
        $( document ).ready(function() {
            var editor = new Jodit('#editor');
            editor.setEditorValue();
        });
    </script>
    <?php
    echo "<input class='admin-create-post-submit' type='submit' value='Enregistrer'><br>";
    echo "</form>";
    echo "</div>";
    echo "</section>";

    if (isset($_POST['nom'])) {
        $nom=$_POST['nom'];
        $logo=$_FILES['logo']['name'];
        $image=$_FILES['image']['name'];
        $description=$_POST['description'];

        // DEPLACEMENT DU FICHIER LOGO DEPUIS LA VARIABLE TEMPORAIRE VERS LE REPERTOIRE
        if (isset($_FILES['logo'])) {
            $adlogo = new \app\controllers\adlogo();
            $ret = $adlogo->addLogo($_FILES['logo']);

            if ($ret == 2) {
                ?>
                <div class="alert alert-warning" role="alert">
                    <p>Ce fichier existe déjà.</p>
                </div>
                <?php
            } elseif ($ret == 0) {
                ?>
                <div>
                    <p>Upload ok</p>
                </div>
                <?php
            } else {
                ?>
                <div>
                    <p>Impossible d'ajouter le logo.</p>
                </div>
                <?php
            }
        }
        if (isset($_FILES['image'])) {
            $addPartnerImg = new \app\controllers\addPartnerImg();
            $ret = $addPartnerImg->addPartnerImg($_FILES['image']);

            if ($ret == 2) {
                ?>
                <div class="alert alert-warning" role="alert">
                    <p>Ce fichier existe déjà.</p>
                </div>
                <?php
            } elseif ($ret == 0) {
                ?>
                <div>
                    <p>Upload ok</p>
                </div>
                <?php
            } else {
                ?>
                <div>
                    <p>Impossible d'ajouter l'image.</p>
                </div>
                <?php
            }
        }


        $newPartners = new app\controllers\Partners();
        $newPartners->insertPartners($nom,$logo, $image, $description);

        header('Location: ?p=adminPartners');
        exit();
    }

}

?>
