<?php

if(!empty($_GET['mode']) && $_GET['mode'] == 1 ) {

    $id = $_GET['id'];

    $showAllPosts = new app\controllers\Post();
    $res = $showAllPosts->showPost($id);

    $titre = $res[0]->titre;
    $description = $res[0]->description;
    $contenu = $res[0]->contenu;
    $image=$res[0]->image;
    $date=$res[0]->date;

    echo "<section class='formback-section'>";
    echo "<div class='formback-wrapper'>";
    echo "<p>La dernière mise à jour date de : $date</p>";
    echo "<form class='formback-content' action=' ' method='POST' enctype='multipart/form-data'>";
    echo "<input type='hidden' name='p' value='post' /> ";
    echo "<label for='titre'> TITRE </label><br>";
    echo "<input class='input-create-form' type='text' name='titre' value='$titre'  /><br>";
    echo "<label for='image'> IMAGE </label><br>";
    if(!empty($image)){
        echo "<input type='text' name='image' value=' $image ' /><br>";
    } else{
        echo "<input type='file' name='image' /><br>";
    }
    echo "<label for='description'> DESCRIPTION </label><br>";
    echo "<input class='input-create-form' type='text'placeholder='veuillez saisir une description' name='description' value=' $description ' /><br>";
    echo "<label for='contenu'>CONTENU</label><br>";
    echo "<input id='editor' name='contenu' value='$contenu' />";

    ?>
    <script>
        $( document ).ready(function() {
            var editor = new Jodit('#editor');
            editor.setEditorValue();
        });
    </script>
    <?php

    echo " <input class='admin-create-post-submit' type='submit'  value='Mettre à jour'><br>";
    echo "</form>";
    echo "</div>";
    echo "</section>";

    if (isset($_POST['titre'])) {

        $titre=$_POST['titre'];
        if(!empty($_POST['image'])){
            $image=$_POST['image'];
        }else{

        $image=$_FILES['image']['name'];
    }

        $description=$_POST['description'];
        $contenu=$_POST['contenu'];
        $id = $_GET['id'];
        $newPost = new app\controllers\Post();
        $newPost->updatePost($titre,$image, $description, $contenu, $id);


        //header('Location: ?p=adminCreatePost&mode=1&id=' . $id);
        header('Location: ?p=adminRubriques');
        exit();

    } else{
        // Nothing to do here
    }

}elseif (!empty($_GET['mode']) && $_GET['mode'] == 2){
    $id = $_GET['id'];
    $backModel = new \app\controllers\Post();
    $backModel->deletePost($id);

    header('Location: ?p=adminRubriques');
    exit();

}else{
    echo "<section class='formback-section'>";
    echo "<div class='formback-wrapper'>";
    echo "<form class='formback-content' action=' ' method='POST' enctype='multipart/form-data'>";
    echo "<input type='hidden' name='p' value='post' /> ";
    echo "<label for='titre'> TITRE </label><br>";
    echo "<input class='input-create-form' type='text'placeholder='veuillez saisir un titre' name='titre'/><br>";
    echo "<label for='image'> IMAGE </label><br>";
    echo "<input type='file' name='image' /><br>";
    echo "<label for='description'> DESCRIPTION </label><br>";
    echo "<input class='input-create-form' type='text' placeholder='veuillez saisir une description' name='description'/><br>";
    echo "<label for='contenu'>CONTENU</label><br>";
    echo "<input id='editor' name='contenu'value=''/>";

    ?>
    <script>
        $( document ).ready(function() {
            var editor = new Jodit('#editor');
            editor.setEditorValue();
        });
    </script>
    <?php

    echo " <input class='admin-create-post-submit' type='submit' value='Enregistrer'><br>";
    echo "</form>";
    echo "</div>";
    echo "</section>";

    if (isset($_POST['titre'])) {
        $rub=$_GET['rub'];
        $titre=$_POST['titre'];
        $image=$_FILES['image']['name'];
        $description=$_POST['description'];
        $contenu=$_POST['contenu'];
        $newPost = new app\controllers\Post();
        $newPost->insertPost($titre,$image, $description, $contenu, $rub);

    }
}
use app\controllers\adimg;
if (isset($_FILES['image'])) {
    $adimg = new adimg();
    $ret = $adimg->addImage($_FILES['image']);


    if ($ret == adimg::FORM_IMAGE_EXIST) {
        ?>
        <div class="alert alert-warning" role="alert">
            Ce fichier existe déjà.
        </div>
        <?php
    } elseif ($ret == adimg::FORM_IMAGE_OK) {
        ?>
        <div>
            Upload ok
        </div>
        <?php
    } else {
        ?>
        <div>
            Problème sur l'upload.
        </div>

        <?php

    }
}
?>
