<section class="admin-Posts">
<?php

$getSubscribers = new \app\controllers\subscribers();
$res = $getSubscribers->getSubscribers();

foreach($res as $elem) {
    echo "<div class='admin-subscribers-email-content'><p>$elem->id</p>  <span>$elem->mail</span>
            <div class='list-subscribers-main-btn'><a href='?p=adminSubscribers&mode=2&id=$elem->id'><img class='main-delet-btn'src='../assets/img/imgBack/imgListPartenaires/moins.svg' width='30px' height='30px' title='supprimer'></a>
            </div>
          </div><br>";
}

if(isset($_GET['mode']) && $_GET['mode'] == 2){

    $id = $_GET['id'];
    var_dump($id);
    $deleteSubscribers = new \app\controllers\subscribers();
    $deleteSubscribers->deleteSubscriber($id);

    header('Location: ?p=adminSubscribers');
    exit();
}else{
    // Do nothing here
}

?>
</section>