<main class="list-partenaires-main">

                <?php
                $showAllPartners = new app\controllers\Partners();
                $res = $showAllPartners->getAllPartners();
                $countArticle=1;
                ?>

                <div class="list-partenaires-main-champs">
                    <?php  foreach($res as $elem){ ?>
                        <div class="list-partenaires-container">
                            <p><?php echo $countArticle++ ?></p> <a class="list-partenaires-main-champs-text" title="modifier" href="?p=adminCreatePartners&mode=1&id=<?php echo $elem->id ?>"><?php echo $elem->nom ?></a>

                            <div class="list-partenaires-main-btn">
                                <?php
                                echo "  <a href='?p=adminCreatePartners&mode=1&id=$elem->id 'title='modifier'><img src='../assets/img/imgBack/imgListPartenaires/edit.svg' width='30px' height='30px'></a>
                                        <a href='?p=adminCreatePartners&mode=2&id=$elem->id'title='supprimer'><img class='main-delet-btn'src='../assets/img/imgBack/imgListPartenaires/moins.svg' width='30px' height='30px'></a>";
                                ?>
                            </div>
                        </div>
                    <?php } ?>

                </div>
                <div class="list-partenaires-main-btn-add">
                    <?php
                    echo "<a href='?p=adminCreatePartners'title='nouvelle rubrique'><div class='add-picto'></div></a>";
                    ?>
                </div>
            </main>



<?php





?>
