<?php
// PARTIE MODIFICATION DU NOM DE LA RUBRIQUE
// On vérifie si la rubrique existe et si oui on récupére le nom de la rubrique et on l'affiche
if (!empty($_GET['mode']) && $_GET['mode'] == 1) {

    $id = $_GET['id'];

    $showAllRubriques = new app\controllers\Rubriques();
    $res = $showAllRubriques->showRubriques($id);

    $nom = $res[0]->r_nom;
    $date=$res[0]->date;


    echo "<section class='formback-section'>";
    echo "<div class='formback-wrapper'>";
    echo "<p>La dernière mise à jour date de : $date</p>";
    echo "<form class='formback-content' action=' ' method='POST'>";
    echo "<input type='hidden' name='p' value='post' /> ";
    echo "<label for='r_nom'> NOM </label><br>";
    echo "<input class='input-create-form' type='text' name='r_nom' placeholder='veuillez saisir un nom'value='$nom'/><br>";
    echo " <input class='admin-create-post-submit' type='submit' value='Enregistrer la rubrique'><br>";
    echo "</form>";
    echo "</div>";
    echo "</section>";

    if (isset($_POST['r_nom'])) {

        $r_nom = $_POST['r_nom'];
        $id = $_GET['id'];
        $newRubriques = new app\controllers\Rubriques();
        $newRubriques->updateRubriques($r_nom, $id);

        header('Location: ?p=adminRubriques');
        exit();

    } else {
        // nothing to do here
    }

// PARTIE SUPPRESSION DE LA RUBRIQUE
}elseif(!empty($_GET['mode']) && $_GET['mode'] == 2){

    $id = $_GET['id'];

    $backModel = new \app\controllers\Rubriques();
    $backModel->deleteRubriques($id);

    header('Location: ?p=adminRubriques');
    exit();


// PARTIE CREATION DE LA NOUVELLE RUBRIQUE
}else{

        echo "<section class='formback-section'>";
        echo "<div class='formback-wrapper'>";
        echo "<form class='formback-content' action='' method='POST'>";
        echo "<input type='hidden' name='p' value='post' /> ";
        echo "<label for='r_nom'> NOM </label><br>";
        echo "<input class='input-create-form' type='text' placeholder='veuillez saisir un nom' name='r_nom' /><br>";
        echo " <input class='admin-create-post-submit' type='submit' value='Enregistrer la rubrique'><br>";
        echo "</form>";
        echo "</div>";
        echo "</section>";

    if (isset($_POST['r_nom'])) {
        $nom = $_POST['r_nom'];
        var_dump($nom);
        $newRubriques = new app\controllers\Rubriques();
        $newRubriques->insertRubriques($nom);

        header('Location: ?p=adminRubriques');
        exit();

    }
}
