<section class="admin-user-section">

    
    <p style="font-size: 0.9rem; margin-bottom:40px" >Dans cette section vous avez la possibilité de modifier votre mot de passe.</p>

    <?php

    if(isset($_SESSION['user'])){

        $currentUser = $_SESSION['user'];

        echo "<form action=' ' method='POST'>";
        echo"<p class='admin-user-id'>$currentUser->login  </p>";
        echo"<input class='admin-user-pass' type='password' name='pwdUser' value='  $currentUser->mdp'>";
        echo "<input class='admin-user-btn-submit' type='submit' value='Mettre à jour'>";
        echo "</form>";
    }

    if(isset($_POST['pwdUser'])){
        $changePwd = new \app\controllers\myAccount();
        $changePwd->updatePwd($currentUser->id, $_POST['pwdUser']);
        echo "<p>Password modifié.</p>";
    }
    ?>


</section>
