<!-- ******************************************************************** -->
<!-- ******************************************************************** -->
<!-- ******************************************************************** -->
<!--                                                                      -->
<!--                            A PROPOS PAGE                             -->
<!--                                                                      -->
<!-- ******************************************************************** -->
<!-- ******************************************************************** -->
<!-- ******************************************************************** -->


<!-- ********** -->
<!-- MAIN START -->
<!-- ********** -->
<main class="site-main" role="main" role="main">

    <!--    PRESENTATION OF THE SECTION A PROPOS    -->
    <section class="site-main-content site-main-about lg-wrapper">


        <header class="rubrique-header rbrq-about-header">
            <ul class="rubrique-header-list">
                <li class="rubrique-header-leftbox">
                    <h2 class="rubrique-title rbrq-ttl-about">à propos</h2>
                    <h3 class="rubrique-subtitle">Vous allez en apprendre beaucoup ...</h3>
                    <p class="rubrique-intro">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                    </p>
                </li>
                <li class="rubrique-header-rightbox">
                    <h2 class="rubrique-title rbrq-ttl-monBlog">mon blog</h2>
                    <h3 class="rubrique-subtitle">Discutons Art,  Musique, Finance, Publicité ...</h3>
                    <p class="rubrique-intro rbrq-intro-monBlog">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                    </p>
                </li>
            </ul>

        </header>

    </section>

    <!--    SECTION ABOUT   -->
    <section class="site-section-about">
        <div class="site-section-about-title">
            <ul class="site-section-about-title-wrapper">
                <li class="site-section-about-title-oblicLine before-title"></li>
                <li><h2 class="site-section-about-title-content">Tout sur Upskalix</h2></li>
                <li class="site-section-about-title-oblicLine after-title"></li>
            </ul>
        </div>
        <div class="site-section-about-content">
            <div class="site-section-about-content-firstPart lg-wrapper">
                <div class="site-section-about-bgWindow"></div>
                <div class="site-section-about-description-wrapper">
                    <h3 class="site-section-about-description-author">Sébastien Jover</h3>
                    <span class="site-section-about-description-author-underTitleEl"></span>
                    <p class="site-section-about-description-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerci nim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
            <div class="site-section-about-content-secondPart">
                <div class="site-section-about-lifeSkills lg-wrapper">
                    <h3 class="site-section-about-lifeSkills-title">Alliance de savoir-être et de savoir-faire</h3>
                    <blocquote class="site-section-about-lifeSkills-description">
                        Lorem ipsum dolor sit amet, <span class="hlText">consectetur adipisicing</span> elit, sed do eiusmod tempor <span class="hlText">incididunt</span> ut labore et dolore magna aliqua. Ut <span class="hlText">enim ad</span> minim veniam, quis nostrud exercitation <span class="hlText">ullamco</span> laboris nisi ut aliquip ex ea <span class="hlText">commodo consequat.</span> Duis aute irure dolor in reprehenderit.
                    </blocquote>
                </div>
            </div>
        </div>
    </section>

    <!--    SECTION BLOG   -->
    <section class="site-section-blog">
        <div class="site-section-blog-title">
            <ul class="site-section-blog-title-wrapper">
                <li class="site-section-about-title-oblicLine before-title"></li>
                <li><h2 class="site-section-about-title-content">Blog Actualités</h2></li>
                <li class="site-section-about-title-oblicLine after-title"></li>
            </ul>
        </div>
        <div class="site-section-blog-content">


            <?php
            $id = 'id';
            /*$idArticle = $_GET['id'];*/
            $image = 'image';
            $thumbExtension = '-thumb.jpg';
            $articleViewExtension = '.jpg';

            $pathForArticleView = '../assets/img/imgFront/blog/';
            $titre = 'titre';
            $date = 'date';
            $labelArticle = 'labelArticle';
            $description = 'description';
            $contenu = 'contenu';

            $fk_r_id = 'fk_r_id';
            $r_nom = 'r_nom';

            $showAllArticles = new app\controllers\Articles();
            $lastArticle = $showAllArticles->getLastArticle();
            $secondLastArticle = $showAllArticles->getSecondLastArticle();
            $getThirdAndFourthLastArticles = $showAllArticles->getThirdAndFourthLastArticles();
            $getFifthLastArticle = $showAllArticles->getFifthLastArticle();
            $getAllLastArticlesAfterFifth = $showAllArticles->getAllLastArticlesAfterFifth();
            /*var_dump($secondLastArticle);*/
            /*var_dump($lastArticle);*/

            $labelArticle = $showAllArticles->labelArticle();
            /*var_dump($labelArticle[1][$r_nom]);*/
            ?>



            <!-- PRIMARY ARTICLE WRAPPER START -->
            <!-- ***************************** -->
            <article class="preview-article-1">
                <a href="?p=article&id=<?php echo $lastArticle->$id;?>" class="preview-article-1-link" title="Lire l'article">
                    <div class="preview-article-1-description-wrapper lg-wrapper">
                        <h4 class="labelActu <?php echo $lastArticle->$r_nom . 'Actu' ?>">
                            <?php echo $lastArticle->$r_nom ?>
                            <!--Art-->
                        </h4>
                        <hr class="labelActu-separation">
                        <h3 class="preview-article-1-title actuTitle">
                            <?php echo $lastArticle->$titre; ?>
                        </h3>
                    </div>
                    <img src="<?php echo $pathForArticleView . $lastArticle->$image . $articleViewExtension?>" alt="Les tableaux du musée" class="preview-article-1-picture">
                </a>
            </article>
            <!-- PRIMARY ARTICLE WRAPPER END -->
            <!-- *************************** -->

            <!-- SECONDARY ARTICLES WRAPPER START -->
            <!-- ******************************** -->
            <div class="articles-wrapper lg-wrapper">

                <!-- FIRST PART ARTICLE WRAPPER START -->
                <!-- ******************************** -->
                <div class="articles-wrapper-firstPart">


                    <!-- SECOND ARTICLE PREVIEW -->
                    <article class="preview-article-2">
                        <a href="?p=article&id=<?php echo $secondLastArticle->$id ?>" class="preview-article-2-link" title="Lire l'article">
                            <img src="<?php echo $pathForArticleView . $secondLastArticle->$image . $articleViewExtension ?>" alt="Image illustrant l'actuzlité financière" class="preview-article-2-picture">
                            <div class="preview-article-2-description-wrapper">
                                <h4 class="labelActu <?php echo $secondLastArticle->$r_nom . 'Actu' ?>">
                                    <?php echo $secondLastArticle->$r_nom ;?>
                                    <!--Finance-->
                                </h4>
                                <h3 class="preview-article-2-title actuTitle"><?php echo $secondLastArticle->$titre ?></h3>
                                <p class="articleDescription-2">
                                    <?php echo $secondLastArticle->$description . ' ...'?>
                                </p>
                            </div>
                        </a>
                    </article>

                </div>
                <!-- FIRST PART ARTICLE WRAPPER END -->
                <!-- ****************************** -->

                <!-- SECOND PART ARTICLE WRAPPER START -->
                <!-- ********************************* -->

                <div class="articles-wrapper-secondPart">

                    <!-- THIRD ARTICLE PREVIEW -->

                    <?php foreach ($getThirdAndFourthLastArticles as $item)
                    { ?>



                        <article class="preview-article-3">
                            <a href="?p=article&id=<?php echo $item->$id ?>" class="preview-article-3-link" title="Lire l'article">
                                <img src="<?php echo $pathForArticleView . $item->$image . $thumbExtension ?>" alt="Image illustrant l'actualité financière" class="preview-article-3-picture">
                                <div class="preview-article-3-description-wrapper">
                                    <h4 class="labelActu <?php echo $item->$r_nom  . 'Actu' ?>">
                                        <?php echo $item->$r_nom  ?>
                                    </h4>
                                    <h3 class="preview-article-3-title actuTitle"><?php echo $item->$titre ?></h3>
                                    <p class="articleDescription-3">
                                        <?php echo $item->$description . ' ...'?>
                                    </p>
                                </div>
                            </a>
                        </article>

                        <?php
                    } ?>

                </div>
                <!-- SECOND PART ARTICLE WRAPPER END -->
                <!-- ******************************* -->

            </div>
            <!-- SECONDARY ARTICLES WRAPPER END -->
            <!-- ****************************** -->

            <!-- GRID ARTICLES WRAPPER START -->
            <!-- *************************** -->
            <div class="grid-articles-wrapper">

                <!-- SUBSCRIPTION TILE -->
                <!-- ***************** -->
                <div class="gaw-tileNewsletterSubscription">

                    <form class="gaw-form" action="" method="post">

                        <p class="gaw-catchphrase">
                            Une question, une envie pressante ?
                        </p>

                        <a href="#" class="gaw-tileNewsletterSubscription-ctaBtn" id="gaw-tileNewsletterSubscription-ctaBtn">Discutons</a>

                        <!-- BTN SHOWN AFTER #gaw-tileNewsletterSubscription-ctaBtn CLICK -->
                        <input type="submit" class="gaw-tileNewsletterSubscription-submitBtn" id="gaw-tileNewsletterSubscription-submitBtn" value="Envoyer">

                        <!-- INPUT SHOWN AFTER #gaw-tileNewsletterSubscription-ctaBtn CLICK -->
                        <div class="gaw-mailSubscription-wrapper" id="gaw-mailSubscription-wrapper">
                            <label for="gaw-mailSubscription" class="gaw-mailLabel">
                                Email
                            </label>
                            <input type="email" name="mailSubscriber" id="gaw-mailSubscription" class="gaw-mailSubscription" placeholder="michael23@domain.com">
                        </div>

                    </form>

                </div>

                <!-- 1ST ARTICLE WRAPPER -->
                <!-- ******************* -->
                <article class="gaw-article-1">
                    <div class="gaw-article-info-wrapper gaiw-1">
                        <div class="gaw-article-head">
                            <h3 class="gaw-article-title <?php echo $labelArticle[$getFifthLastArticle->$id-1][$r_nom] . 'Title'?>">
                                <?php echo $getFifthLastArticle->$titre?>
                            </h3>
                            <div class="gaw-article-head-subHead">
                                <h4 class="labelActu <?php echo $getFifthLastArticle->$r_nom . 'Actu' ?>">
                                    <?php echo $getFifthLastArticle->$r_nom ?>
                                </h4>
                                <span class="gaw-article-date">
                                    <?php echo $getFifthLastArticle->$date ?>
                                </span>
                            </div>
                        </div>
                        <p class="gaw-article-content">
                            <?php echo $getFifthLastArticle->$description . ' ...' ?>
                        </p>
                    </div>
                    <div class="gaw-article-pict-wrapper gaw-pw-1">
                        <a href="?p=article&id=<?php echo $getFifthLastArticle->$id;?>" class="gaw-article-btn gaw-btn-1" style="background-image:url(<?php echo  $pathForArticleView.$getFifthLastArticle->$image.$articleViewExtension;?>)">
                        </a>
                    </div>
                </article>

                <!-- 2ND ARTICLE WRAPPER -->
                <!-- ******************* -->

                <?php foreach ($getAllLastArticlesAfterFifth as $item) {  ?>


                    <article class="gaw-article-2">
                        <div class="gaw-article-pict-wrapper gaw-pw-2">
                            <a href="?p=article&id=<?php echo $item->$id;?>" class="gaw-article-btn gaw-btn-2" style="background-image:url(<?php echo  $pathForArticleView.$item->$image.$articleViewExtension;?>)"></a>
                        </div>
                        <div class="gaw-article-info-wrapper gaiw-2">
                            <div class="gaw-article-head">
                                <h3 class="gaw-article-title <?php echo $item->$r_nom . 'Title'?>">
                                    <?php echo $item->$titre?>
                                </h3>
                                <div class="gaw-article-head-subHead">
                                    <h4 class="labelActu  <?php echo $item->$r_nom . 'Actu' ?>">
                                        <?php echo $item->$r_nom ?>
                                    </h4>
                                    <span class="gaw-article-date">
                                    <?php echo $item->$date ?>
                                </span>
                                </div>
                            </div>
                            <p class="gaw-article-content">
                                <?php echo $item->$description . ' ...'?>
                            </p>
                        </div>

                    </article>

                <?php } ?>


            </div>
            <!-- GRID ARTICLES WRAPPER END -->
            <!-- ************************* -->

        </div>


        <!-- *************************** -->
        <!-- ROW REDIRECTION TO MAA BLOG -->
        <!-- *************************** -->
        <div class="site-section-blog-redirection">
            <a href="#" class="site-section-blog-redirection-link" title="Visiter le blog MAA"> Titre de mon blog </a>
        </div>

    </section>
</main>

<!-- ******** -->
<!-- MAIN END -->
<!-- ******** -->