<!-- ******************************************************************** -->
<!-- ******************************************************************** -->
<!-- ******************************************************************** -->
<!--                                                                      -->
<!--                          ARTICLE VIEW PAGE                           -->
<!--                                                                      -->
<!-- ******************************************************************** -->
<!-- ******************************************************************** -->
<!-- ******************************************************************** -->

<!-- ********** -->
<!-- MAIN START -->
<!-- ********** -->



<?php
$id = 'id';
$idArticle = $_GET['id'];
$image = 'image';
$thumbExtension = '-thumb.jpg';
$articleViewExtension = '.jpg';

$pathForArticleView = '../assets/img/imgFront/blog/';
$titre = 'titre';
$date = 'date';
$description = 'description';
$contenu = 'contenu';
$showAllArticles = new app\controllers\Articles();
$res = $showAllArticles->getThirdLastArticles();
$articleView = $showAllArticles->showArticle($idArticle);
//var_dump($articleView);
?>

<main class="site-main" role="main">

    <section class="site-main-content smc-articleView lg-wrapper">

        <!--    ARTICLE VIEW HEADER : AV-HEADER   -->
        <header class="av-header" style=" background-image: linear-gradient(52deg, rgba(183, 33, 255, .6), rgba(33, 212, 253, .6)) , url(<?php echo  $pathForArticleView.$articleView[$image].$articleViewExtension;?>)">
            <h2 class="av-header-title">
                <?php
                echo  $articleView[$titre];
                //    var_dump($articleView)
                ?>
            </h2>
            <div class="av-header-subHead">
                <span class="av-header-date"><?php echo  $articleView[$date];?></span>
            </div>
        </header>

        <!--    ARTICLE VIEW CONTENT : AV-CONTENT   -->

        <p class="av-content">
            <?php echo $articleView[$contenu]; ?>
        </p>


        <!-- ARTICLE VIEW OTHER ARTICLE WRAPPER : AV-OAW -->
        <!-- ******************************************* -->
        <div class="av-oaw">
            <h2 class="av-oaw-title">D'autres articles qui pourraient vous interesser</h2>

            <!-- ARTICLE VIEW OTHER ARTICLE PREVIEW : AV-OAP -->
            <!-- ******************************************* -->
            <div class="av-oap">
                <?php
                foreach($res as $elem){
                    ?>

                    <!-- 1ST ARTICLE PREVIEW -->
                    <article class="preview-article">
                        <a href="?p=article&id=<?php echo $elem->$id ?>" class="preview-article-link" title="Lire l'article">
                            <img src="<?php echo $pathForArticleView.$elem->$image.$thumbExtension ?>" alt="Image illustrant l'actuzlité financière" class="preview-article-picture">
                            <div class="preview-article-description-wrapper">
                                <span class="av-oaw-date"><?php echo $elem->$date; ?></span>
                                <h3 class="actuTitle"><?php echo $elem->$titre; ?></h3>
                                <p class="articleDescription">
                                    <?php echo $elem->$description ?>
                                </p>
                            </div>
                        </a>
                    </article>
                <?php } ?>



            </div>

        </div>
        <!-- ARTICLE VIEW OTHER ARTICLE WRAPPER END -->
        <!-- ************************************** -->





    </section>
</main>
<!-- ******** -->
<!-- MAIN END -->
<!-- ******** -->
