<!-- ******************************************************************** -->
<!-- ******************************************************************** -->
<!-- ******************************************************************** -->
<!--                                                                      -->
<!--                             CONTACT PAGE                             -->
<!--                                                                      -->
<!-- ******************************************************************** -->
<!-- ******************************************************************** -->
<!-- ******************************************************************** -->

<!-- ********** -->
<!-- MAIN START -->
<!-- ********** -->
<main class="site-main rbq-m-contact" role="main">
    <section class="site-main-content lg-wrapper rbq-m-content">

        <!--    PRESENTATION OF THE SECTION CONTACT    -->
        <header class="rubrique-header rbrq-contact-header">
            <h1 class="rubrique-title rbrq-ttl-contact">contact</h1>
            <h2 class="rubrique-subtitle">N'hésitez plus, nous sommes là pour vous ...</h2>
        </header>

        <!--   INFOS   -->
        <div class="contact-infos">
            <h3 class="contact-infos-title">
                Informations
            </h3>
            <!--    CONTACT INFOS LIST    -->
            <ul class="contact-infos-list">
                <li class="contact-infos-item">
                    <ul class="contact-infos-adress-list">
                        <li class="contact-infos-adress-item">10 Rue René Cassin</li>
                        <li class="contact-infos-adress-item">33049 Bordeaux</li>
                        <li class="contact-infos-adress-item">FRANCE</li>
                    </ul>
                </li>
                <li class="contact-infos-item">
                    <ul class="contact-infos-phone-list">
                        <li class="contact-infos-phone-item">05 56 00 00 00</li>
                        <li class="contact-infos-phone-item">06 32 58 44 20</li>
                    </ul>
                </li>
                <li class="contact-infos-item">
                    <ul class="contact-infos-web-list">
                        <li  class="contact-infos-web-item"><a href="www.upskalix.com">www.upskalix.com</a></li>
                        <li  class="contact-infos-web-item"><a href="mailto:info@upskalix.com" class="ctc-txt-underline">info@upskalix.com</a></li>
                    </ul>
                </li>
            </ul>
        </div>


        <!--   FORM SECTION   -->
        <div class="contact-form">
            <h3 class="contact-infos-title form-section-title">
                Formulaire
            </h3>

            <?php

            if(!empty($_POST)) {

                $prenom = $_POST['firstname'];
                $nom = $_POST['lastname'];
                $mail = $_POST['mail'];
                $telephone = $_POST['phoneNumber'];
                $message = $_POST['message'];

                function contact($nom, $prenom, $telephone, $mail, $message)
                {
                    // Pour envoyer un mail HTML, l'en-tête Content-type doit être défini
                    $headers = 'MIME-Version: 1.0' . "\r\n";
                    $headers .= 'Content-type: text/html; charset=uft-8' . "\r\n";
                    return mail("test@hotmail.com", 'prise de contact', 'nom ' . $nom . '<br>prénom ' . $prenom . '<br>téléphone ' . $telephone . '<br>email ' . $mail . '<br>message ' . $message, $headers);
                }
            } else {
                //nothing
            }


            ?>
            <!-- FORM START -->
            <form action="#" method="post" class="form-section-wrapper" role="form">
                <ul class="form-section-list">

                    <!--      HALF WIDTH FORM ITEM      -->
                    <li class="form-section-item hW">
                        <label for="lastname" class="lastNameLabel">
                            Nom
                            <abbr title="Ce champ est obligatoire">*</abbr>
                        </label>
                        <input type="text" id="lastname"  class="lastNameArea" name="lastname" required placeholder="Jordan">
                    </li>
                    <li class="form-section-item hW">
                        <label for="firstname" class="firstNameLabel">
                            Prénom
                        </label>
                        <input type="text" id="firstname" class="firstNameArea" name="firstname" placeholder="Michael">
                    </li>
                    <li class="form-section-item hW">
                        <label for="mail" class="mailLabel">
                            Email
                            <abbr title="Ce champ est obligatoire">*</abbr>
                        </label>
                        <input type="email" id="mail" class="mailArea" name="mail" required placeholder="michaelj23@domain.com">
                    </li>
                    <li class="form-section-item hW">
                        <label for="phoneNumber" class="phoneNumberLabel">
                            Téléphone
                        </label>
                        <input type="text" id="phoneNumber" class="phoneNumberArea" name="phoneNumber" required placeholder="05 56 00 00 00">
                    </li>

                    <!--      FULL WIDTH FORM ITEM      -->
                    <li class="form-section-item fW">
                        <label for="message" class="messageLabel">
                            Message
                            <abbr title="Ce champ est obligatoire">*</abbr>
                        </label>
                        <textarea name="message" id="message" class="messageArea" cols="30" rows="10" required placeholder="Dites nous tout ..."></textarea>
                    </li>

                    <li class="form-section-item submitRow fW">
                        <ul class="form-section-item-submitList">
                            <!--      THIRD WIDTH FORM ITEM      -->
                            <li class="form-section-item submitConfirmationLegend">
                                Votre email a bien été envoyé !
                            </li>
                            <li class="form-section-item requiredInputLegend">
                                Tous les champs suivis d'une * sont obligatoires.
                            </li>
                            <li class="form-section-item">
                                <a href="#" class="form-section-submitBtn">Envoyer</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </form>
            <!-- FORM END -->
        </div>



    </section>

    <!--   ASIDE SECTION : MAP   -->
    <aside class="contact-aside" role="complementary">
        <a href="https://www.google.fr/maps/place/E-COD/@44.87631,-0.574371,15z/data=!4m5!3m4!1s0x0:0x9ee0c2f289f4f7a4!8m2!3d44.87631!4d-0.574371" title="Ouvrir la map sur Google Map dans un autre onglet" target=_blank class="contact-aside-map">
            <iframe frameborder="0" class="contact-aside-map-iframe" alt="Google Map géolocalisant Upskalix" style="border:0"
                    src="https://www.google.com/maps/embed/v1/view?zoom=17&center=44.8763,-0.5744&key=AIzaSyBH7peTuMb__iGE01idq_ltn_0PQgX--IM" allowfullscreen></iframe>
        </a>

    </aside>
</main>
<!-- ******** -->
<!-- MAIN END -->
<!-- ******** -->
