<?php

    $flag = true;

    if(isset($_POST['login']) && isset($_POST['pass'])){

        $authentification = new app\controllers\user();

        $resultLogin = $authentification->loginUser($_POST['login'],$_POST['pass']);

        if($resultLogin === true){
            header('Location: ?p=adminHome');
            exit();
        }else{
            $flag = false;
        }
    }
?>

<section class="login-section">
    <div class="form-wrapper">
        <form class="form-content" action="" method="POST">
            <input type="hidden" name="p" value="login">
            <fieldset class="login-fieldset">
                <label for="login">Se connecter au site</label>
                <input class="login-input" type="text" name="login" placeholder="Nom d'utilisateur">

                <label for="pass"></label>
                <input class="login-input" type="password" name="pass" placeholder="Mot de Passe">

                <input class="login-submit" type="submit" value="Se connecter">
                <?php
                    if(isset($_POST['login']) && isset($_POST['pass'])){
                        if($flag === false){
                            echo "<p style='color:red; font-size:0.8rem'><br />Mauvais login ou mot de passe</p>";
                        }

                    }else if (isset($_SESSION['user'])) {

                        //echo 'Vous êtes déjà connecté';

                        header('Location: ?p=adminHome');
                        exit();

                    }
                ?>
            </fieldset>
        </form>
    </div>
</section>

