<!-- ******************************************************************** -->
<!-- ******************************************************************** -->
<!-- ******************************************************************** -->
<!--                                                                      -->
<!--                              HOME PAGE                               -->
<!--                                                                      -->
<!-- ******************************************************************** -->
<!-- ******************************************************************** -->
<!-- ******************************************************************** -->

<!-- ************************ -->
<!-- ACTIVITIES SECTION START -->
<!-- ************************ -->
<section class="home-section-activities">
    <ul class="home-section-activities-list" id="hsa-list">
        <li class="home-section-activities-item" id="activitiesDescription-tab1" role="tab" aria-controls="activitiesDescription-panel1" title="Voir ce que propose Upskalix en matière de consulting">
            <a href="#" class="home-section-activities-btn">
                Consulting
            </a>
        </li>
        <li class="home-section-activities-item" id="activitiesDescription-tab2" role="tab" aria-controls="activitiesDescription-panel2" title="Voir les formations web proposées par Upskalix">
            <a href="#" class="home-section-activities-btn">
                Formations Web
            </a>
        </li>
        <li class="home-section-activities-item" id="activitiesDescription-tab3" role="tab" aria-controls="activitiesDescription-panel3" title="Découvrir ses spécialités en développement informatique">
            <a href="#" class="home-section-activities-btn">
                Développement Informatique
            </a>
        </li>
    </ul>
    <ul class="home-section-activitiesDescription-list" id="hsaD-list">
        <li class="home-section-activitiesDescription-item" id="activitiesDescription-panel1" role="tabpanel" aria-labelledby="activitiesDescription-tab1">
            <h2 class="home-section-activitiesDescription-title">
                Consulting
            </h2>
            <p class="home-section-activitiesDescription-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </li>
        <li class="home-section-activitiesDescription-item" id="activitiesDescription-panel2" role="tabpanel" aria-labelledby="activitiesDescription-tab2">
            <h2 class="home-section-activitiesDescription-title">
                Formations web
            </h2>
            <p class="home-section-activitiesDescription-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </li>
        <li class="home-section-activitiesDescription-item" id="activitiesDescription-panel3" role="tabpanel" aria-labelledby="activitiesDescription-tab3">
            <h2 class="home-section-activitiesDescription-title">
                Développement informatique
            </h2>
            <p class="home-section-activitiesDescription-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </li>
    </ul>
</section>
<!-- ********************** -->
<!-- ACTIVITIES SECTION END -->
<!-- ********************** -->


<!-- *************************** -->
<!-- LAST PROJETCS SECTION START -->
<!-- *************************** -->
<section class="home-section-projects">
    <ul class="home-section-projectsDescription-list">
        <li class="home-section-projectsDescription-item" id="projectsDescription-panel1" role="tabpanel" aria-labelledby="projectsDescription-tab1">
            <h2 class="home-section-projectsDescription-title">
                Projet 1
            </h2>
            <p class="home-section-projectsDescription-text">
                Description projet 1 Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <a href="#" class="home-section-projectsDescription-btn">
                Visiter le site
            </a>
        </li>
        <li class="home-section-projectsDescription-item" id="projectsDescription-panel2" role="tabpanel" aria-labelledby="projectsDescription-tab2">
            <h2 class="home-section-projectsDescription-title">
                Projet 2
            </h2>
            <p class="home-section-projectsDescription-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <a href="#" class="home-section-projectsDescription-btn">
                Visiter le site
            </a>
        </li>
        <li class="home-section-projectsDescription-item" id="projectsDescription-panel3" role="tabpanel" aria-labelledby="projectsDescription-tab3">
            <h2 class="home-section-projectsDescription-title">
                Projet 3
            </h2>
            <p class="home-section-projectsDescription-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <a href="#" class="home-section-projectsDescription-btn">
                Visiter le site
            </a>
        </li>
    </ul>
    <div class="home-section-projects-slider">
        <ul class="home-section-projects-list" id="hsp-slider">
            <li class="home-section-projects-item" id="projectsDescription-tab1" role="tab" aria-controls="projectsDescription-panel1">
                <img src="../assets/img/imgFront/home/projet1.jpg" alt="Visualisation du projet 1" class="home-section-projects-pict">
                <a href="#" class="home-section-projects-btn" title="Ouvrir la page du projet">
                    Voir le projet
                </a>
            </li>
            <li class="home-section-projects-item" id="projectsDescription-tab2" role="tab" aria-controls="projectsDescription-panel2">
                <img src="../assets/img/imgFront/home/projet2.jpg" alt="Visualisation du projet 2" class="home-section-projects-pict">
                <a href="#" class="home-section-projects-btn" title="Ouvrir la page du projet">
                    Voir le projet
                </a>
            </li>
            <li class="home-section-projects-item" id="projectsDescription-tab3" role="tab" aria-controls="projectsDescription-panel3">
                <img src="../assets/img/imgFront/home/projet3.jpg" alt="Visualisation du projet 3" class="home-section-projects-pict">
                <a href="#" class="home-section-projects-btn" title="Ouvrir la page du projet">
                    Voir le projet
                </a>
            </li>
        </ul>
        <ul class="home-section-projects-controlsBtns">
            <li id="projectsDescription-panel1-controlBtn" class="home-section-projects-controlBtnItem" role="tab"  aria-controls="projectsDescription-panel1"></li>
            <li id="projectsDescription-panel2-controlBtn" class="home-section-projects-controlBtnItem" role="tab"  aria-controls="projectsDescription-panel2"></li>
            <li id="projectsDescription-panel3-controlBtn" class="home-section-projects-controlBtnItem" role="tab"  aria-controls="projectsDescription-panel3"></li>
        </ul>
    </div>
</section>

<!-- ************************* -->
<!-- LAST PROJETCS SECTION END -->
<!-- ************************* -->

<!-- *********************** -->
<!--    SECTION BLOG START   -->
<!-- *********************** -->
<section class="site-section-blog">
    <div class="site-section-blog-title">
        <ul class="site-section-blog-title-wrapper">
            <li class="site-section-about-title-oblicLine before-title"></li>
            <li><h2 class="site-section-about-title-content">Blog Actualités</h2></li>
            <li class="site-section-about-title-oblicLine after-title"></li>
        </ul>
    </div>
    <div class="site-section-blog-content">


        <?php
        $id = 'id';
        $image = 'image';
        $thumbExtension = '-thumb.jpg';
        $articleViewExtension = '.jpg';

        $pathForArticleView = '../assets/img/imgFront/blog/';
        $titre = 'titre';
        $date = 'date';

        $description = 'description';
        $contenu = 'contenu';

        $fk_r_id = 'fk_r_id';
        $r_nom = 'r_nom';

        $showAllArticles = new app\controllers\Articles();
        $secondLastArticle = $showAllArticles->getSecondLastArticle();
        $getThirdAndFourthLastArticles = $showAllArticles->getThirdAndFourthLastArticles();
        $lastArticle = $showAllArticles->getLastArticle();
        /*var_dump($secondLastArticle);*/
        /*var_dump($lastArticle);*/

        $labelArticle = $showAllArticles->labelArticle();
        /*var_dump($labelArticle[1][$r_nom]);*/
        ?>



        <!-- PRIMARY ARTICLE WRAPPER START -->
        <!-- ***************************** -->
        <article class="preview-article-1">
            <a href="?p=article&id=<?php echo $lastArticle->$id;?>" class="preview-article-1-link" title="Lire l'article">
                <div class="preview-article-1-description-wrapper lg-wrapper">
                    <h4 class="labelActu <?php echo $lastArticle->$r_nom  . 'Actu' ;?>">
                        <?php /*echo $labelArticle[$lastArticle->$id][$r_nom] */?>
                        <?php echo $lastArticle->$r_nom ?>
                        <!--Art-->
                    </h4>
                    <hr class="labelActu-separation">
                    <h3 class="preview-article-1-title actuTitle">
                        <?php echo $lastArticle->$titre; ?>
                    </h3>
                </div>
                <img src="<?php echo $pathForArticleView . $lastArticle->$image . $articleViewExtension?>" alt="Les tableaux du musée" class="preview-article-1-picture">
            </a>
        </article>
        <!-- PRIMARY ARTICLE WRAPPER END -->
        <!-- *************************** -->

        <!-- SECONDARY ARTICLES WRAPPER START -->
        <!-- ******************************** -->
        <div class="articles-wrapper lg-wrapper">

            <!-- FIRST PART ARTICLE WRAPPER START -->
            <!-- ******************************** -->
            <div class="articles-wrapper-firstPart">


                <!-- SECOND AETICLE PREVIEW -->
                <article class="preview-article-2">
                    <a href="?p=article&id=<?php echo $secondLastArticle->$id ?>" class="preview-article-2-link" title="Lire l'article">
                        <img src="<?php echo $pathForArticleView . $secondLastArticle->$image . $articleViewExtension ?>" alt="Image illustrant l'actuzlité financière" class="preview-article-2-picture">
                        <div class="preview-article-2-description-wrapper">
                            <h4 class="labelActu <?php echo $secondLastArticle->$r_nom . 'Actu' ?>">
                                <?php echo $secondLastArticle->$r_nom ?>
                                <!--Finance-->
                            </h4>
                            <h3 class="preview-article-2-title actuTitle"><?php echo $secondLastArticle->$titre ?></h3>
                            <p class="articleDescription-2">
                                <?php echo $secondLastArticle->$description . ' ...'?>
                            </p>
                        </div>
                    </a>
                </article>

            </div>
            <!-- FIRST PART ARTICLE WRAPPER END -->
            <!-- ****************************** -->

            <!-- SECOND PART ARTICLE WRAPPER START -->
            <!-- ********************************* -->


            <div class="articles-wrapper-secondPart">

                <!-- THIRD ARTICLE PREVIEW -->

                <?php foreach ($getThirdAndFourthLastArticles as $item)
                { ?>



                <article class="preview-article-3">
                    <a href="?p=article&id=<?php echo $item->$id ?>" class="preview-article-3-link" title="Lire l'article">
                        <img src="<?php echo $pathForArticleView . $item->$image . $thumbExtension ?>" alt="Image illustrant l'actuzlité financière" class="preview-article-3-picture">
                        <div class="preview-article-3-description-wrapper">
                            <h4 class="labelActu <?php echo $item->$r_nom . 'Actu' ?>">
                                <?php echo $item->$r_nom ?>
                            </h4>
                            <h3 class="preview-article-3-title actuTitle"><?php echo $item->$titre ?></h3>
                            <p class="articleDescription-3">
                                <?php echo $item->$description . ' ...'?>
                            </p>
                        </div>
                    </a>
                </article>

                <?php
                } ?>

            </div>
            <!-- SECOND PART ARTICLE WRAPPER END -->
            <!-- ******************************* -->

        </div>
        <!-- SECONDARY ARTICLES WRAPPER END -->
        <!-- ****************************** -->

    </div>

</section>
<!-- ********************* -->
<!--    SECTION BLOG END   -->
<!-- ********************* -->