<!-- ******************************************************************** -->
<!-- ******************************************************************** -->
<!-- ******************************************************************** -->
<!--                                                                      -->
<!--                            PARTNERS PAGE                             -->
<!--                                                                      -->
<!-- ******************************************************************** -->
<!-- ******************************************************************** -->
<!-- ******************************************************************** -->

<!-- ********** -->
<!-- MAIN START -->
<!-- ********** -->

<?php

$showAllPartners = new app\controllers\Partners();
$partner = $showAllPartners->getAllPartners();

$pathForPartnersView = '../assets/img/imgFront/rubriquePartners/';
$logo = 'logo';
$image = 'image';
$nom = 'nom';
$description = 'description';

?>



<main class="site-main" role="main">

    <section class="site-main-content lg-wrapper">

        <!--   PARTNERS GRID   -->
        <ul class="partnersGrid">

            <!--    PRESENTATION OF THE SECTION PARTNERS    -->
            <li class="partnersGrid-item boxTitle">
                <header class="rubrique-header rbrq-partners-header">
                    <h1 class="rubrique-title rbrq-ttl-partners">partenaires</h1>
                    <h2 class="rubrique-subtitle">Une confiance mutuelle & pérenne</h2>
                    <p class="rubrique-intro">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit animid est laborum.
                    </p>

                </header>
            </li>

            <?php
            $i = 1;
            foreach ($partner as $item) {
                ?>

                <!--   PARTNER BOX    -->
                <li class="partnersGrid-item boxPartner1" title = "En savoir plus" style="background-image:linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url( <?php echo $pathForPartnersView . $item->$image ?> )">
                    <a href="<?php echo '#partnerTab' . $i++ ?> " class="partnersGrid-btn">
                        <img src=" <?php echo $pathForPartnersView . $item->$logo ?> " alt="Box partenaire 1" class="partnersGrid-logo">
                    </a>
                </li>

                <?php

            } ?>




            <!--    DESCRIPTION PARTNER BOX    -->
            <li class="partnersGrid-item boxDescribePartner" id = "boxDescribePartner">
                <ul class="partnersGrid-tabWrapper tabs-content">
                    <?php
                    $i = 1;
                    foreach ($partner as $item) {
                        ?>
                        <li class="partnersGrid-tabContent" id="<?php echo 'partnerTab' . $i++ ?>">
                            <h4 class="partnersTitle">
                                <?php echo  $item->$nom?>
                                <!--Orange-->
                            </h4>
                            <p class="partnersDescription">
                                <?php echo $item->$description ?>
                            </p>
                        </li>
                        <?php

                    } ?>
                </ul>
            </li>

            <!--                    <li class="partnersGrid-tabContent" id="partnerTab2">
                                    <h4 class="partnersTitle">Au coffre.com</h4>
                                    <p class="partnersDescription">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </li>
                                <li class="partnersGrid-tabContent" id="partnerTab3">
                                    <h4 class="partnersTitle">Gobelins | L'école de l'image</h4>
                                    <p class="partnersDescription">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </li>
                                <li class="partnersGrid-tabContent" id="partnerTab4">
                                    <h4 class="partnersTitle">Opquast</h4>
                                    <p class="partnersDescription">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </li>
                                <li class="partnersGrid-tabContent" id="partnerTab5">
                                    <h4 class="partnersTitle">Thales Avionics</h4>
                                    <p class="partnersDescription">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </li>
                                <li class="partnersGrid-tabContent" id="partnerTab6">
                                    <h4 class="partnersTitle">E-COD BORDEAUX</h4>
                                    <p class="partnersDescription">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </li>
                                <li class="partnersGrid-tabContent" id="partnerTab7">
                                    <h4 class="partnersTitle">Digital Active | Google</h4>
                                    <p class="partnersDescription">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </li>-->
            <!--                </ul>
                        </li>-->

        </ul>

    </section>
</main>
<!-- ******** -->
<!-- MAIN END -->
<!-- ******** -->
