<!-- ******************************************************************** -->
<!-- ******************************************************************** -->
<!-- ******************************************************************** -->
<!--                                                                      -->
<!--                            RUBRIQUE PAGE                             -->
<!--                                                                      -->
<!-- ******************************************************************** -->
<!-- ******************************************************************** -->
<!-- ******************************************************************** -->

<?php
$rub = $_GET['rub'];

$getRubriqueInfo = new app\controllers\Rubriques();
$rubInfo = $getRubriqueInfo->showRubriques($rub);

$showAllPosts = new app\controllers\Post();
$res = $showAllPosts->getAllPosts($rub);

$pathForArticleView = '../assets/img/imgFront/blog/';
$articleViewExtension = '.jpg';

?>

  <!-- ********** -->
  <!-- MAIN START -->
  <!-- ********** -->

  <main class="site-main" role="main">

    <section class="site-main-content lg-wrapper">

        <!--    PRESENTATION OF THE SECTION RUBRIQUE    -->
        <header class="rubrique-header rbrq-type-header">
            <h1 class="rubrique-title rbrq-ttl-type">blog</h1>
            <h2 class="rubrique-subtitle"><?php echo $rubInfo[0]->r_nom ?></h2>
            <p class="rubrique-intro">
                Description de la rubrique, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit animid est laborum.
            </p>
        </header>

        <!-- RUBRIQUE ARTICLES WRAPPER START -->
        <!-- *************************** -->
        <div class="rubrique-articles-wrapper">
            <!-- ARTICLE WRAPPER -->
            <!-- ******************* -->

            <?php foreach ($res as $elem){
            if($elem->onoff == '1'){
            ?>
            <article class="raw-article-1">
                <div class="raw-article-info-wrapper raiw-1">
                    <div class="raw-article-head">
                        <h3 class="raw-article-title <?php echo $rubInfo[0]->r_nom.'Title' ?>">
                            <?php echo $elem->titre ?>
                        </h3>
                        <div class="raw-article-head-subHead">
                            <span class="raw-article-date"><?php echo $elem->date ?></span>
                        </div>
                    </div>
                    <p class="raw-article-content">
                        <?php echo $elem->description ?>
                    </p>
                </div>
                <div class="raw-article-pict-wrapper gaw-pw-1">
                    <a href="#" class="raw-article-btn raw-btn-1" style="background-image:url(<?php echo  $pathForArticleView.$elem->image.$articleViewExtension;?>)"></a>
                </div>
            </article>
            <?php }} ?>
        </div>

        <!-- GRID ARTICLES WRAPPER END -->
        <!-- ************************* -->

    </section>
  </main>
  <!-- ******** -->
  <!-- MAIN END -->
  <!-- ******** -->
