<!DOCTYPE html>
<html>
<head>
    <title>Ecod</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/back.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/2.5.62/jodit.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,700|Playfair+Display:400,700,700i" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script async src="//cdnjs.cloudflare.com/ajax/libs/jodit/2.5.62/jodit.min.js"></script>
</head>
<body>

<main class="admin-main">
    <nav class="admin-nav" id="admin-nav">
        <ul>
            <li><a href="?p=home" title="pages home"><img src='../assets/img/imgBack/imgBackEndHome/logoUpskalixBlanc.png' alt='le logo upskalix' width='120'></a></li>
            <li><a href="?p=adminHome"><img src="../assets/img/imgBack/imgBackEndHome/logo-accueil.svg" alt="le logo article" width="30" height="40"></a><span class="main-nav-legend">Accueil</span></li>
            <li><a href="?p=adminRubriques"><img src="../assets/img/imgBack/imgBackEndHome/logo-article.svg" alt="le logo article" width="30" height="40"></a><span class="main-nav-legend">Rubriques</span></li>
            <li><a href="?p=adminSubscribers"><img src="../assets/img/imgBack/imgBackEndHome/logo-abonne.svg" alt="le logo abonne" width="30" height="30"></a><span class="main-nav-legend">Contacts</span></li>
            <li><a href="?p=adminPartners"><img src="../assets/img/imgBack/imgBackEndHome/logo-partenaires.svg" alt="le logo partenaires" width="30" height="30"></a><span class="main-nav-legend">Partenaires</span></li>
            <li><a href="?p=adminUser"><img src="../assets/img/imgBack/imgBackEndHome/logo-utilisateurs.svg" alt="le logo utilisateurs" width="30" height="30"></a><span class="main-nav-legend">Utilisateurs</span></li>
            <li id="hideLanguagesSection"><a href="?p=adminLangues"><img src="../assets/img/imgBack/imgBackEndHome/logo-langues.svg" alt="le logo langues" width="30" height="30"></a><span class="main-nav-legend">Langues</span></li>
            <li><a href="?p=logout"><img src="../assets/img/imgBack/imgBackEndHome/logo-deconnexion.svg" alt="le logo deconnexion" width="30" height="30"></a><span class="main-nav-legend">Déconnexion</span></li>
        </ul>
    </nav>

    <div class="admin-back-global-content">
        <div class="admin-back-headband">
            <div class="admin-back-main-title">
                <h1><?php echo $adminTitle ?></h1>
            </div>
        </div>
        <div class="admin-main-content">
          <?php echo $content; ?>
        </div>
    </div>
</main>



<script src="../public/js/global.js"></script>
</body>
</html>
