<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title><?php echo $pageTitle ?> </title>
    <meta name="description" content="Bienvenue sur le site Upskalix, Développeur Web et Formateur">

    <link rel="stylesheet" href="../public/css/front.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Playfair+Display:400,700|Source+Code+Pro:400,700" rel="stylesheet">
</head>
<body>

<!-- ************ -->
<!-- HEADER START -->
<!-- ************ -->
<header class="site-header" role="banner">
    <div class="site-logoNavbarLang">
        <a href="?p=home" class="site-logo"><img src="../assets/img/imgFront/logo/logoUpskalixBlanc.png" alt="Sébastien Jover, gérant de Upskalix" class="site-logoPicture"></a>
        <nav class="site-navbar lg-wrapper" role="navigation">
            <ul class="site-navbar-list">
                <li class="site-navbar-item"><a href="?p=home" class="site-navbar-link">accueil</a></li>
                <li class="site-navbar-item"><a href="?p=partenaires" class="site-navbar-link">nos partenaires</a></li>
                <li class="site-navbar-item"><a href="?p=aPropos"  class="site-navbar-link">à propos</a></li>
                <li class="site-navbar-item rubrique-nav-item" id="a-propos-link">
                    <a href="" class="site-navbar-link">Rubriques</a>
                    <ul id="site-sub-navbar-list" class="site-sub-navbar-list">
                        <?php
                        $sousRubriques = new \app\controllers\Rubriques();
                        $key = $sousRubriques->getAllRubriques();
                        foreach($key as $elem){
                            echo "<li class='site-sub-navbar-item' ><a class='site-navbar-link site-sub-navbar-link' href=?p=rubrique&rub=$elem->r_id>$elem->r_nom</a></li>";
                        }
                        ?>
                    </ul>
                </li>
                <li class="site-navbar-item"><a href="?p=contact" class="site-navbar-link">contactez-nous</a></li>
            </ul>
        </nav>
        <form action="" class="site-lang">
            <ul class="site-lang-list">
                <li class="site-lang-item">
                    <input type="checkbox" id="frenchLang" name="frenchLang" class="site-lang-input" checked>
                    <label for="frenchLang" class="site-lang-label">FR</label>
                </li>
                <li class="site-lang-item">
                    <input type="checkbox" id="englishLang" name="englishLang" class="site-lang-input">
                    <label for="englishLang" class="site-lang-label">EN</label>
                </li>
                <li class="site-lang-item">
                    <input type="checkbox" id="spanishLang" name="spanishLang" class="site-lang-input">
                    <label for="spanishLang" class="site-lang-label">ES</label>
                </li>
            </ul>
        </form>
    </div>
    <div class="site-titlesWrapper lg-wrapper">
        <h1 class="site-title">Upskalix</h1>
        <h2 class="site-catchphrase">
            Compétences & performance <br>
            à votre service
        </h2>
    </div>
    <ul class="site-socialNetworks-list">
        <li class="site-socialNetworks-item"><a href="#" class="site-socialNetworks-link"><span class="icon-codepen"></span></a></li>
        <li class="site-socialNetworks-item"><a href="#" class="site-socialNetworks-link"><span class="icon-behance"></span></a></li>
        <li class="site-socialNetworks-item"><a href="#" class="site-socialNetworks-link"><span class="icon-linkedin2"></span></a></li>
    </ul>
</header>
<!-- ********** -->
<!-- HEADER END -->
<!-- ********** -->


<div class="container">
    <?php echo $content; ?>
</div>


<!-- ************ -->
<!-- FOOTER START -->
<!-- ************ -->
<footer class="site-footer" role="contentinfo">


    <!--  LOGO  -->
    <a href="?p=home" class="site-footer-logo"><img src="../assets/img/imgFront/logo/logoUpskalixBlanc.png" alt="Sébastien Jover, gérant de Upskalix" class="site-logoPicture"></a>

    <!--  NAVBAR  -->
    <nav class="site-footer-navbar" role="navigation">
        <ul class="site-footer-navbar-list">
            <li class="site-footer-navbar-item"><a href="?p=home" class="site-footer-navbar-link">accueil</a></li>
            <li class="site-footer-navbar-item"><a href="?p=partenaires" class="site-footer-navbar-link">nos partenaires</a></li>
            <li class="site-footer-navbar-item"><a href="?p=aPropos" class="site-footer-navbar-link">à propos</a></li>
            <li class="site-footer-navbar-item"><a href="?p=contact" class="site-footer-navbar-link">contactez-nous</a></li>
        </ul>
    </nav>

    <!--  CONTACT INFOS  -->
    <ul class="site-footer-ctc-list">
        <li class="site-footer-ctc-item s-f-ctc-adress">
            10 Rue René Cassin <br>
            33049 Bordeaux
        </li>
        <li class="site-footer-ctc-item s-f-ctc-phone">
            05 56 00 00 00
        </li>
        <li class="site-footer-ctc-item s-f-ctc-socialNetworks">
            <ul class="site-socialNetworks-list">
                <li class="site-socialNetworks-item"><a href="#" class="site-socialNetworks-link"><span class="icon-codepen"></span></a></li>
                <li class="site-socialNetworks-item"><a href="#" class="site-socialNetworks-link"><span class="icon-behance"></span></a></li>
                <li class="site-socialNetworks-item"><a href="#" class="site-socialNetworks-link"><span class="icon-linkedin2"></span></a></li>
            </ul>
        </li>
    </ul>

    <!--  NEWSLETTER FORM  -->
    <form action="" class="site-footer-newsLetterForm" id="site-footer-newsLetterForm" method="POST" role="form">
        <label for="mailSubscriber" class="site-footer-newsLetterForm-label">Une question, une envie pressante ?</label>
        <input type="email" name="mailSubscriber" id="mailSubscriber" class="site-footer-newsLetterForm-input" placeholder="michaelj23@domain.com">
        <input type="submit" class="site-footer-newsLetterForm-submitBtn">
    </form>

    <?php
    if(!empty($_POST['mailSubscriber'])) {

        $newMail = $_POST['mailSubscriber'];
        $addSubscriber = new \app\controllers\subscribers();

        if ($addSubscriber->verifySubscriber($newMail)) {
            $actualPage = $_GET['p'];
            echo "<div class='newsletter-poppin'>
                    <div class='newsletter-poppin-content'>
                       <p>Vous êtes déjà inscrit à notre newsletter, content de vous revoir :)</p>
                       <a class='close-poppin-newsletter' href='?p=$actualPage'>Ok</a>
                    </div>
                    </div>";

        } else {
            $addSubscriber->addSubscriber($newMail);
        }
    }
    ?>


    <!--  MAP  -->
    <a href="https://www.google.fr/maps/place/E-COD/@44.87631,-0.574371,15z/data=!4m5!3m4!1s0x0:0x9ee0c2f289f4f7a4!8m2!3d44.87631!4d-0.574371" title="Ouvrir la map sur Google Map dans un autre onglet" target=_blank class="site-footer-map">
        <iframe frameborder="0" class="site-footer-map-picture" alt="Google Map géolocalisant Upskalix" style="border:0"
                src="https://www.google.com/maps/embed/v1/view?zoom=17&center=44.8763,-0.5744&key=AIzaSyBH7peTuMb__iGE01idq_ltn_0PQgX--IM" allowfullscreen></iframe>
    </a>

    <!--  LEGALS MENTIONS BLOC  -->
    <div class="site-footer-legalsMentions">
        <a href="mentions-legales.phtml" class="site-footer-legalsMentions-link">mentions légales </a>
        <p class="site-footer-legalsMentions-authors">
            Copyright © E-COD BORDEAUX - All Rights Reserved 2018
        </p>
    </div>

</footer>
<!-- ********** -->
<!-- FOOTER END -->
<!-- ********** -->


<!-- ********** -->
<!-- RESSOURCES -->
<!-- ********** -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../public/js/frontScript.js"></script>
</body>
</html>
