<!DOCTYPE html>
<html>
<head>
    <title><?php echo $pageTitle ?> </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/back.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,700|Playfair+Display:400,700,700i" rel="stylesheet">
</head>
<body>


  <?php echo $content; ?>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../public/js/global.js"></script>
</body>
</html>
